<div class='progress-msg'>Sat, 05 Oct 2019 03:27:32 +0200</div>
<div class='progress-msg'>[03:27:32] Composing titles...</div>
<div class='progress-msg'>[03:27:32] Composing excerpts...</div>
<div class='progress-msg'>[03:27:32] Composing duplicate indicators...</div>
<div class='progress-msg'>[03:27:32] Composing authors...</div>
<div class='progress-msg'>[03:27:32] Composing slugs...</div>
<div class='progress-msg'>[03:27:32] Composing menu order...</div>
<div class='progress-msg'>[03:27:32] Composing contents...</div>
<div class='progress-msg'>[03:27:32] Composing dates...</div>
<div class='progress-msg'>[03:27:32] Composing custom parameters...</div>
<div class='progress-msg'>[03:27:32] Composing URLs for images...</div>
<div class='progress-msg'>[03:27:32] Composing URLs for attachments files...</div>
<div class='progress-msg'>[03:27:32] Composing unique keys...</div>
<div class='progress-msg'>[03:27:32] Processing posts...</div>
<div class='progress-msg'>[03:27:32] Data parsing via add-ons...</div>
<div class='progress-msg'>[03:27:32] ---</div>
<div class='progress-msg'>[03:27:32] Record #1</div>
<div class='progress-msg'>[03:27:32] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[03:27:32] Combine all data for post `Refericon`...</div>
<div class='progress-msg'>[03:27:32] Find corresponding article among previously imported for post `Refericon`...</div>
<div class='progress-msg'>[03:27:32] Duplicate post wasn't found with unique key `72d489c92f`...</div>
<div class='progress-msg'>[03:27:32] Applying filter `pmxi_article_data` for `Refericon`</div>
<div class='progress-msg'>[03:27:32] <b>CREATING</b> `Refericon` `Kupon`</div>
<div class='progress-msg'>[03:27:32] Associate post `Refericon` with current import ...</div>
<div class='progress-msg'>[03:27:32] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:32] - Custom field `discount` will be updated with value `19.20` for post `Refericon` ...</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:32] - Custom field `discount_type` will be updated with value `1` for post `Refericon` ...</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:32] - Custom field `min_amount` will be updated with value `10.00` for post `Refericon` ...</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:32] - Custom field `peruser_limit` will be updated with value `1` for post `Refericon` ...</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:32] <b>IMAGES:</b></div>
<div class='progress-msg'>[03:27:32] <b>CREATED</b> `Refericon` `Kupon` (ID: 6396)</div>
<div class='progress-msg'>[03:27:32] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[03:27:32] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[03:27:32] ---</div>
<div class='progress-msg'>[03:27:32] Record #2</div>
<div class='progress-msg'>[03:27:32] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[03:27:32] Combine all data for post `Refericon`...</div>
<div class='progress-msg'>[03:27:32] Find corresponding article among previously imported for post `Refericon`...</div>
<div class='progress-msg'>[03:27:32] Duplicate post wasn't found with unique key `9d7a2b9b0b`...</div>
<div class='progress-msg'>[03:27:32] Applying filter `pmxi_article_data` for `Refericon`</div>
<div class='progress-msg'>[03:27:32] <b>CREATING</b> `Refericon` `Kupon`</div>
<div class='progress-msg'>[03:27:32] Associate post `Refericon` with current import ...</div>
<div class='progress-msg'>[03:27:32] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:32] - Custom field `discount` will be updated with value `19.20` for post `Refericon` ...</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:32] - Custom field `discount_type` will be updated with value `1` for post `Refericon` ...</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:32] - Custom field `min_amount` will be updated with value `10.00` for post `Refericon` ...</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:32] - Custom field `peruser_limit` will be updated with value `1` for post `Refericon` ...</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:32] <b>IMAGES:</b></div>
<div class='progress-msg'>[03:27:32] <b>CREATED</b> `Refericon` `Kupon` (ID: 6397)</div>
<div class='progress-msg'>[03:27:32] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[03:27:32] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[03:27:32] ---</div>
<div class='progress-msg'>[03:27:32] Record #3</div>
<div class='progress-msg'>[03:27:32] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[03:27:32] Combine all data for post `APO1`...</div>
<div class='progress-msg'>[03:27:32] Find corresponding article among previously imported for post `APO1`...</div>
<div class='progress-msg'>[03:27:32] Duplicate post wasn't found with unique key `bb-101`...</div>
<div class='progress-msg'>[03:27:32] Applying filter `pmxi_article_data` for `APO1`</div>
<div class='progress-msg'>[03:27:32] <b>CREATING</b> `APO1` `Kupon`</div>
<div class='progress-msg'>[03:27:32] Associate post `APO1` with current import ...</div>
<div class='progress-msg'>[03:27:32] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:32] - Custom field `discount` will be updated with value `19.20` for post `APO1` ...</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:32] - Custom field `discount_type` will be updated with value `1` for post `APO1` ...</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:32] - Custom field `min_amount` will be updated with value `65.00` for post `APO1` ...</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:32] - Custom field `peruser_limit` will be updated with value `0` for post `APO1` ...</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:32] <b>IMAGES:</b></div>
<div class='progress-msg'>[03:27:32] <b>CREATED</b> `APO1` `Kupon` (ID: 6398)</div>
<div class='progress-msg'>[03:27:32] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[03:27:32] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[03:27:32] ---</div>
<div class='progress-msg'>[03:27:32] Record #4</div>
<div class='progress-msg'>[03:27:32] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[03:27:32] Combine all data for post `test procentowy`...</div>
<div class='progress-msg'>[03:27:32] Find corresponding article among previously imported for post `test procentowy`...</div>
<div class='progress-msg'>[03:27:32] Duplicate post wasn't found with unique key `001`...</div>
<div class='progress-msg'>[03:27:32] Applying filter `pmxi_article_data` for `test procentowy`</div>
<div class='progress-msg'>[03:27:32] <b>CREATING</b> `test procentowy` `Kupon`</div>
<div class='progress-msg'>[03:27:32] Associate post `test procentowy` with current import ...</div>
<div class='progress-msg'>[03:27:32] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:32] - Custom field `discount` will be updated with value `21.77` for post `test procentowy` ...</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:32] - Custom field `discount_type` will be updated with value `1` for post `test procentowy` ...</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:32] - Custom field `min_amount` will be updated with value `65.00` for post `test procentowy` ...</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:32] - Custom field `peruser_limit` will be updated with value `0` for post `test procentowy` ...</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:32] <b>IMAGES:</b></div>
<div class='progress-msg'>[03:27:32] <b>CREATED</b> `test procentowy` `Kupon` (ID: 6399)</div>
<div class='progress-msg'>[03:27:32] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[03:27:32] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[03:27:32] ---</div>
<div class='progress-msg'>[03:27:32] Record #5</div>
<div class='progress-msg'>[03:27:32] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[03:27:32] Combine all data for post `test 2`...</div>
<div class='progress-msg'>[03:27:32] Find corresponding article among previously imported for post `test 2`...</div>
<div class='progress-msg'>[03:27:32] Duplicate post wasn't found with unique key `002`...</div>
<div class='progress-msg'>[03:27:32] Applying filter `pmxi_article_data` for `test 2`</div>
<div class='progress-msg'>[03:27:32] <b>CREATING</b> `test 2` `Kupon`</div>
<div class='progress-msg'>[03:27:32] Associate post `test 2` with current import ...</div>
<div class='progress-msg'>[03:27:32] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:32] - Custom field `discount` will be updated with value `19.59` for post `test 2` ...</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:32] - Custom field `discount_type` will be updated with value `1` for post `test 2` ...</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:32] - Custom field `min_amount` will be updated with value `65.00` for post `test 2` ...</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:32] - Custom field `peruser_limit` will be updated with value `0` for post `test 2` ...</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:32] <b>IMAGES:</b></div>
<div class='progress-msg'>[03:27:32] <b>CREATED</b> `test 2` `Kupon` (ID: 6400)</div>
<div class='progress-msg'>[03:27:32] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[03:27:32] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[03:27:32] ---</div>
<div class='progress-msg'>[03:27:32] Record #6</div>
<div class='progress-msg'>[03:27:32] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[03:27:32] Combine all data for post `wesele brax -hurt`...</div>
<div class='progress-msg'>[03:27:32] Find corresponding article among previously imported for post `wesele brax -hurt`...</div>
<div class='progress-msg'>[03:27:32] Duplicate post wasn't found with unique key `bb-0012-wm`...</div>
<div class='progress-msg'>[03:27:32] Applying filter `pmxi_article_data` for `wesele brax -hurt`</div>
<div class='progress-msg'>[03:27:32] <b>CREATING</b> `wesele brax -hurt` `Kupon`</div>
<div class='progress-msg'>[03:27:32] Associate post `wesele brax -hurt` with current import ...</div>
<div class='progress-msg'>[03:27:32] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:32] - Custom field `discount` will be updated with value `36.00` for post `wesele brax -hurt` ...</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:32] - Custom field `discount_type` will be updated with value `1` for post `wesele brax -hurt` ...</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:32] - Custom field `min_amount` will be updated with value `1500.00` for post `wesele brax -hurt` ...</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:32] - Custom field `peruser_limit` will be updated with value `1` for post `wesele brax -hurt` ...</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:32] <b>IMAGES:</b></div>
<div class='progress-msg'>[03:27:32] <b>CREATED</b> `wesele brax -hurt` `Kupon` (ID: 6401)</div>
<div class='progress-msg'>[03:27:32] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[03:27:32] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[03:27:32] ---</div>
<div class='progress-msg'>[03:27:32] Record #7</div>
<div class='progress-msg'>[03:27:32] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[03:27:32] Combine all data for post `wesele brax`...</div>
<div class='progress-msg'>[03:27:32] Find corresponding article among previously imported for post `wesele brax`...</div>
<div class='progress-msg'>[03:27:32] Duplicate post wasn't found with unique key `bb-0011-wm`...</div>
<div class='progress-msg'>[03:27:32] Applying filter `pmxi_article_data` for `wesele brax`</div>
<div class='progress-msg'>[03:27:32] <b>CREATING</b> `wesele brax` `Kupon`</div>
<div class='progress-msg'>[03:27:32] Associate post `wesele brax` with current import ...</div>
<div class='progress-msg'>[03:27:32] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:32] - Custom field `discount` will be updated with value `26.00` for post `wesele brax` ...</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:32] - Custom field `discount_type` will be updated with value `1` for post `wesele brax` ...</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:32] - Custom field `min_amount` will be updated with value `300.00` for post `wesele brax` ...</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:32] - Custom field `peruser_limit` will be updated with value `1` for post `wesele brax` ...</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:32] <b>IMAGES:</b></div>
<div class='progress-msg'>[03:27:32] <b>CREATED</b> `wesele brax` `Kupon` (ID: 6402)</div>
<div class='progress-msg'>[03:27:32] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[03:27:32] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[03:27:32] ---</div>
<div class='progress-msg'>[03:27:32] Record #8</div>
<div class='progress-msg'>[03:27:32] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[03:27:32] Combine all data for post `urodziny salonu`...</div>
<div class='progress-msg'>[03:27:32] Find corresponding article among previously imported for post `urodziny salonu`...</div>
<div class='progress-msg'>[03:27:32] Duplicate post wasn't found with unique key `Sweet Lady`...</div>
<div class='progress-msg'>[03:27:32] Applying filter `pmxi_article_data` for `urodziny salonu`</div>
<div class='progress-msg'>[03:27:32] <b>CREATING</b> `urodziny salonu` `Kupon`</div>
<div class='progress-msg'>[03:27:32] Associate post `urodziny salonu` with current import ...</div>
<div class='progress-msg'>[03:27:32] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:32] - Custom field `discount` will be updated with value `20.00` for post `urodziny salonu` ...</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:32] - Custom field `discount_type` will be updated with value `1` for post `urodziny salonu` ...</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:32] - Custom field `min_amount` will be updated with value `65.00` for post `urodziny salonu` ...</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:32] - Custom field `peruser_limit` will be updated with value `1` for post `urodziny salonu` ...</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:32] <b>IMAGES:</b></div>
<div class='progress-msg'>[03:27:32] <b>CREATED</b> `urodziny salonu` `Kupon` (ID: 6403)</div>
<div class='progress-msg'>[03:27:32] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[03:27:32] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[03:27:32] ---</div>
<div class='progress-msg'>[03:27:32] Record #9</div>
<div class='progress-msg'>[03:27:32] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[03:27:32] Combine all data for post `Arek Influencer Anna S.`...</div>
<div class='progress-msg'>[03:27:32] Find corresponding article among previously imported for post `Arek Influencer Anna S.`...</div>
<div class='progress-msg'>[03:27:32] Duplicate post wasn't found with unique key `8c5eb1cd68`...</div>
<div class='progress-msg'>[03:27:32] Applying filter `pmxi_article_data` for `Arek Influencer Anna S.`</div>
<div class='progress-msg'>[03:27:32] <b>CREATING</b> `Arek Influencer Anna S.` `Kupon`</div>
<div class='progress-msg'>[03:27:32] Associate post `Arek Influencer Anna S.` with current import ...</div>
<div class='progress-msg'>[03:27:32] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:32] - Custom field `discount` will be updated with value `19.59` for post `Arek Influencer Anna S.` ...</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:32] - Custom field `discount_type` will be updated with value `1` for post `Arek Influencer Anna S.` ...</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:32] - Custom field `min_amount` will be updated with value `50.00` for post `Arek Influencer Anna S.` ...</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:32] - Custom field `peruser_limit` will be updated with value `1` for post `Arek Influencer Anna S.` ...</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:32] <b>IMAGES:</b></div>
<div class='progress-msg'>[03:27:32] <b>CREATED</b> `Arek Influencer Anna S.` `Kupon` (ID: 6404)</div>
<div class='progress-msg'>[03:27:32] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[03:27:32] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[03:27:32] ---</div>
<div class='progress-msg'>[03:27:32] Record #10</div>
<div class='progress-msg'>[03:27:32] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[03:27:32] Combine all data for post `Arek Influencer Anna S.`...</div>
<div class='progress-msg'>[03:27:32] Find corresponding article among previously imported for post `Arek Influencer Anna S.`...</div>
<div class='progress-msg'>[03:27:32] Duplicate post wasn't found with unique key `aadb7f14cb`...</div>
<div class='progress-msg'>[03:27:32] Applying filter `pmxi_article_data` for `Arek Influencer Anna S.`</div>
<div class='progress-msg'>[03:27:32] <b>CREATING</b> `Arek Influencer Anna S.` `Kupon`</div>
<div class='progress-msg'>[03:27:32] Associate post `Arek Influencer Anna S.` with current import ...</div>
<div class='progress-msg'>[03:27:32] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:32] - Custom field `discount` will be updated with value `19.59` for post `Arek Influencer Anna S.` ...</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:32] - Custom field `discount_type` will be updated with value `1` for post `Arek Influencer Anna S.` ...</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:32] - Custom field `min_amount` will be updated with value `50.00` for post `Arek Influencer Anna S.` ...</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:32] - Custom field `peruser_limit` will be updated with value `1` for post `Arek Influencer Anna S.` ...</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:32] <b>IMAGES:</b></div>
<div class='progress-msg'>[03:27:32] <b>CREATED</b> `Arek Influencer Anna S.` `Kupon` (ID: 6405)</div>
<div class='progress-msg'>[03:27:32] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[03:27:32] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[03:27:32] ---</div>
<div class='progress-msg'>[03:27:32] Record #11</div>
<div class='progress-msg'>[03:27:32] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[03:27:32] Combine all data for post `Arek Influencer Anna S.`...</div>
<div class='progress-msg'>[03:27:32] Find corresponding article among previously imported for post `Arek Influencer Anna S.`...</div>
<div class='progress-msg'>[03:27:32] Duplicate post wasn't found with unique key `0063f7be77`...</div>
<div class='progress-msg'>[03:27:32] Applying filter `pmxi_article_data` for `Arek Influencer Anna S.`</div>
<div class='progress-msg'>[03:27:32] <b>CREATING</b> `Arek Influencer Anna S.` `Kupon`</div>
<div class='progress-msg'>[03:27:32] Associate post `Arek Influencer Anna S.` with current import ...</div>
<div class='progress-msg'>[03:27:32] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:32] - Custom field `discount` will be updated with value `19.59` for post `Arek Influencer Anna S.` ...</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:32] - Custom field `discount_type` will be updated with value `1` for post `Arek Influencer Anna S.` ...</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:32] - Custom field `min_amount` will be updated with value `50.00` for post `Arek Influencer Anna S.` ...</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:32] - Custom field `peruser_limit` will be updated with value `1` for post `Arek Influencer Anna S.` ...</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:32] <b>IMAGES:</b></div>
<div class='progress-msg'>[03:27:32] <b>CREATED</b> `Arek Influencer Anna S.` `Kupon` (ID: 6406)</div>
<div class='progress-msg'>[03:27:32] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[03:27:32] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[03:27:32] ---</div>
<div class='progress-msg'>[03:27:32] Record #12</div>
<div class='progress-msg'>[03:27:32] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[03:27:32] Combine all data for post `Arek Influencer 1`...</div>
<div class='progress-msg'>[03:27:32] Find corresponding article among previously imported for post `Arek Influencer 1`...</div>
<div class='progress-msg'>[03:27:32] Duplicate post wasn't found with unique key `783d75165d`...</div>
<div class='progress-msg'>[03:27:32] Applying filter `pmxi_article_data` for `Arek Influencer 1`</div>
<div class='progress-msg'>[03:27:32] <b>CREATING</b> `Arek Influencer 1` `Kupon`</div>
<div class='progress-msg'>[03:27:32] Associate post `Arek Influencer 1` with current import ...</div>
<div class='progress-msg'>[03:27:32] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:32] - Custom field `discount` will be updated with value `19.59` for post `Arek Influencer 1` ...</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:32] - Custom field `discount_type` will be updated with value `1` for post `Arek Influencer 1` ...</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:32] - Custom field `min_amount` will be updated with value `50.00` for post `Arek Influencer 1` ...</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:32] - Custom field `peruser_limit` will be updated with value `1` for post `Arek Influencer 1` ...</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:32] <b>IMAGES:</b></div>
<div class='progress-msg'>[03:27:32] <b>CREATED</b> `Arek Influencer 1` `Kupon` (ID: 6407)</div>
<div class='progress-msg'>[03:27:32] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[03:27:32] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[03:27:32] ---</div>
<div class='progress-msg'>[03:27:32] Record #13</div>
<div class='progress-msg'>[03:27:32] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[03:27:32] Combine all data for post `Arek Influencer 1`...</div>
<div class='progress-msg'>[03:27:32] Find corresponding article among previously imported for post `Arek Influencer 1`...</div>
<div class='progress-msg'>[03:27:32] Duplicate post wasn't found with unique key `8c4d3b99b4`...</div>
<div class='progress-msg'>[03:27:32] Applying filter `pmxi_article_data` for `Arek Influencer 1`</div>
<div class='progress-msg'>[03:27:32] <b>CREATING</b> `Arek Influencer 1` `Kupon`</div>
<div class='progress-msg'>[03:27:32] Associate post `Arek Influencer 1` with current import ...</div>
<div class='progress-msg'>[03:27:32] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:32] - Custom field `discount` will be updated with value `19.59` for post `Arek Influencer 1` ...</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:32] - Custom field `discount_type` will be updated with value `1` for post `Arek Influencer 1` ...</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:32] - Custom field `min_amount` will be updated with value `50.00` for post `Arek Influencer 1` ...</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:32] - Custom field `peruser_limit` will be updated with value `1` for post `Arek Influencer 1` ...</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:32] <b>IMAGES:</b></div>
<div class='progress-msg'>[03:27:32] <b>CREATED</b> `Arek Influencer 1` `Kupon` (ID: 6408)</div>
<div class='progress-msg'>[03:27:32] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[03:27:32] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[03:27:32] ---</div>
<div class='progress-msg'>[03:27:32] Record #14</div>
<div class='progress-msg'>[03:27:32] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[03:27:32] Combine all data for post `Arek Influencer 1`...</div>
<div class='progress-msg'>[03:27:32] Find corresponding article among previously imported for post `Arek Influencer 1`...</div>
<div class='progress-msg'>[03:27:32] Duplicate post wasn't found with unique key `f996d586dd`...</div>
<div class='progress-msg'>[03:27:32] Applying filter `pmxi_article_data` for `Arek Influencer 1`</div>
<div class='progress-msg'>[03:27:32] <b>CREATING</b> `Arek Influencer 1` `Kupon`</div>
<div class='progress-msg'>[03:27:32] Associate post `Arek Influencer 1` with current import ...</div>
<div class='progress-msg'>[03:27:32] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:32] - Custom field `discount` will be updated with value `19.59` for post `Arek Influencer 1` ...</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:32] - Custom field `discount_type` will be updated with value `1` for post `Arek Influencer 1` ...</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:32] - Custom field `min_amount` will be updated with value `50.00` for post `Arek Influencer 1` ...</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:32] - Custom field `peruser_limit` will be updated with value `1` for post `Arek Influencer 1` ...</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:32] <b>IMAGES:</b></div>
<div class='progress-msg'>[03:27:32] <b>CREATED</b> `Arek Influencer 1` `Kupon` (ID: 6409)</div>
<div class='progress-msg'>[03:27:32] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[03:27:32] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[03:27:32] ---</div>
<div class='progress-msg'>[03:27:32] Record #15</div>
<div class='progress-msg'>[03:27:32] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[03:27:32] Combine all data for post `Arek Influencer 2`...</div>
<div class='progress-msg'>[03:27:32] Find corresponding article among previously imported for post `Arek Influencer 2`...</div>
<div class='progress-msg'>[03:27:32] Duplicate post wasn't found with unique key `0822ab5553`...</div>
<div class='progress-msg'>[03:27:32] Applying filter `pmxi_article_data` for `Arek Influencer 2`</div>
<div class='progress-msg'>[03:27:32] <b>CREATING</b> `Arek Influencer 2` `Kupon`</div>
<div class='progress-msg'>[03:27:32] Associate post `Arek Influencer 2` with current import ...</div>
<div class='progress-msg'>[03:27:32] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:32] - Custom field `discount` will be updated with value `19.59` for post `Arek Influencer 2` ...</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:32] - Custom field `discount_type` will be updated with value `1` for post `Arek Influencer 2` ...</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:32] - Custom field `min_amount` will be updated with value `50.00` for post `Arek Influencer 2` ...</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:32] - Custom field `peruser_limit` will be updated with value `1` for post `Arek Influencer 2` ...</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:32] <b>IMAGES:</b></div>
<div class='progress-msg'>[03:27:32] <b>CREATED</b> `Arek Influencer 2` `Kupon` (ID: 6410)</div>
<div class='progress-msg'>[03:27:32] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[03:27:32] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[03:27:32] ---</div>
<div class='progress-msg'>[03:27:32] Record #16</div>
<div class='progress-msg'>[03:27:32] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[03:27:32] Combine all data for post `Arek Influencer 2`...</div>
<div class='progress-msg'>[03:27:32] Find corresponding article among previously imported for post `Arek Influencer 2`...</div>
<div class='progress-msg'>[03:27:32] Duplicate post wasn't found with unique key `02cd2cdfa3`...</div>
<div class='progress-msg'>[03:27:32] Applying filter `pmxi_article_data` for `Arek Influencer 2`</div>
<div class='progress-msg'>[03:27:32] <b>CREATING</b> `Arek Influencer 2` `Kupon`</div>
<div class='progress-msg'>[03:27:32] Associate post `Arek Influencer 2` with current import ...</div>
<div class='progress-msg'>[03:27:32] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:32] - Custom field `discount` will be updated with value `19.59` for post `Arek Influencer 2` ...</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:32] - Custom field `discount_type` will be updated with value `1` for post `Arek Influencer 2` ...</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:32] - Custom field `min_amount` will be updated with value `50.00` for post `Arek Influencer 2` ...</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:32] - Custom field `peruser_limit` will be updated with value `1` for post `Arek Influencer 2` ...</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:32] <b>IMAGES:</b></div>
<div class='progress-msg'>[03:27:32] <b>CREATED</b> `Arek Influencer 2` `Kupon` (ID: 6411)</div>
<div class='progress-msg'>[03:27:32] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[03:27:32] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[03:27:32] ---</div>
<div class='progress-msg'>[03:27:32] Record #17</div>
<div class='progress-msg'>[03:27:32] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[03:27:32] Combine all data for post `Arek Influencer 2`...</div>
<div class='progress-msg'>[03:27:32] Find corresponding article among previously imported for post `Arek Influencer 2`...</div>
<div class='progress-msg'>[03:27:32] Duplicate post wasn't found with unique key `e82fd0669a`...</div>
<div class='progress-msg'>[03:27:32] Applying filter `pmxi_article_data` for `Arek Influencer 2`</div>
<div class='progress-msg'>[03:27:32] <b>CREATING</b> `Arek Influencer 2` `Kupon`</div>
<div class='progress-msg'>[03:27:32] Associate post `Arek Influencer 2` with current import ...</div>
<div class='progress-msg'>[03:27:32] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:32] - Custom field `discount` will be updated with value `19.59` for post `Arek Influencer 2` ...</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:32] - Custom field `discount_type` will be updated with value `1` for post `Arek Influencer 2` ...</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:32] - Custom field `min_amount` will be updated with value `50.00` for post `Arek Influencer 2` ...</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:32] - Custom field `peruser_limit` will be updated with value `1` for post `Arek Influencer 2` ...</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:32] <b>IMAGES:</b></div>
<div class='progress-msg'>[03:27:32] <b>CREATED</b> `Arek Influencer 2` `Kupon` (ID: 6412)</div>
<div class='progress-msg'>[03:27:32] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[03:27:32] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[03:27:32] ---</div>
<div class='progress-msg'>[03:27:32] Record #18</div>
<div class='progress-msg'>[03:27:32] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[03:27:32] Combine all data for post `Arek Influencer 3`...</div>
<div class='progress-msg'>[03:27:32] Find corresponding article among previously imported for post `Arek Influencer 3`...</div>
<div class='progress-msg'>[03:27:32] Duplicate post wasn't found with unique key `e40f90ad52`...</div>
<div class='progress-msg'>[03:27:32] Applying filter `pmxi_article_data` for `Arek Influencer 3`</div>
<div class='progress-msg'>[03:27:32] <b>CREATING</b> `Arek Influencer 3` `Kupon`</div>
<div class='progress-msg'>[03:27:32] Associate post `Arek Influencer 3` with current import ...</div>
<div class='progress-msg'>[03:27:32] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:32] - Custom field `discount` will be updated with value `19.59` for post `Arek Influencer 3` ...</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:32] - Custom field `discount_type` will be updated with value `1` for post `Arek Influencer 3` ...</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:32] - Custom field `min_amount` will be updated with value `50.00` for post `Arek Influencer 3` ...</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:32] - Custom field `peruser_limit` will be updated with value `1` for post `Arek Influencer 3` ...</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:32] <b>IMAGES:</b></div>
<div class='progress-msg'>[03:27:32] <b>CREATED</b> `Arek Influencer 3` `Kupon` (ID: 6413)</div>
<div class='progress-msg'>[03:27:32] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[03:27:32] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[03:27:32] ---</div>
<div class='progress-msg'>[03:27:32] Record #19</div>
<div class='progress-msg'>[03:27:32] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[03:27:32] Combine all data for post `Arek Influencer 3`...</div>
<div class='progress-msg'>[03:27:32] Find corresponding article among previously imported for post `Arek Influencer 3`...</div>
<div class='progress-msg'>[03:27:32] Duplicate post wasn't found with unique key `14fbd732bb`...</div>
<div class='progress-msg'>[03:27:32] Applying filter `pmxi_article_data` for `Arek Influencer 3`</div>
<div class='progress-msg'>[03:27:32] <b>CREATING</b> `Arek Influencer 3` `Kupon`</div>
<div class='progress-msg'>[03:27:32] Associate post `Arek Influencer 3` with current import ...</div>
<div class='progress-msg'>[03:27:32] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:32] - Custom field `discount` will be updated with value `19.59` for post `Arek Influencer 3` ...</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:32] - Custom field `discount_type` will be updated with value `1` for post `Arek Influencer 3` ...</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:32] - Custom field `min_amount` will be updated with value `50.00` for post `Arek Influencer 3` ...</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:32] - Custom field `peruser_limit` will be updated with value `1` for post `Arek Influencer 3` ...</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:32] <b>IMAGES:</b></div>
<div class='progress-msg'>[03:27:32] <b>CREATED</b> `Arek Influencer 3` `Kupon` (ID: 6414)</div>
<div class='progress-msg'>[03:27:32] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[03:27:32] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[03:27:32] ---</div>
<div class='progress-msg'>[03:27:32] Record #20</div>
<div class='progress-msg'>[03:27:32] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[03:27:32] Combine all data for post `Arek Influencer 3`...</div>
<div class='progress-msg'>[03:27:32] Find corresponding article among previously imported for post `Arek Influencer 3`...</div>
<div class='progress-msg'>[03:27:32] Duplicate post wasn't found with unique key `2619c7734d`...</div>
<div class='progress-msg'>[03:27:32] Applying filter `pmxi_article_data` for `Arek Influencer 3`</div>
<div class='progress-msg'>[03:27:32] <b>CREATING</b> `Arek Influencer 3` `Kupon`</div>
<div class='progress-msg'>[03:27:32] Associate post `Arek Influencer 3` with current import ...</div>
<div class='progress-msg'>[03:27:32] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:32] - Custom field `discount` will be updated with value `19.59` for post `Arek Influencer 3` ...</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:32] - Custom field `discount_type` will be updated with value `1` for post `Arek Influencer 3` ...</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:32] - Custom field `min_amount` will be updated with value `50.00` for post `Arek Influencer 3` ...</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:32] - Custom field `peruser_limit` will be updated with value `1` for post `Arek Influencer 3` ...</div>
<div class='progress-msg'>[03:27:32] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:32] <b>IMAGES:</b></div>
<div class='progress-msg'>[03:27:32] <b>CREATED</b> `Arek Influencer 3` `Kupon` (ID: 6415)</div>
<div class='progress-msg'>[03:27:32] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[03:27:32] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[03:27:33] ---</div>
<div class='progress-msg'>[03:27:33] Record #21</div>
<div class='progress-msg'>[03:27:33] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[03:27:33] Combine all data for post `Lazur`...</div>
<div class='progress-msg'>[03:27:33] Find corresponding article among previously imported for post `Lazur`...</div>
<div class='progress-msg'>[03:27:33] Duplicate post wasn't found with unique key `Lazur`...</div>
<div class='progress-msg'>[03:27:33] Applying filter `pmxi_article_data` for `Lazur`</div>
<div class='progress-msg'>[03:27:33] <b>CREATING</b> `Lazur` `Kupon`</div>
<div class='progress-msg'>[03:27:33] Associate post `Lazur` with current import ...</div>
<div class='progress-msg'>[03:27:33] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[03:27:33] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:33] - Custom field `discount` will be updated with value `19.59` for post `Lazur` ...</div>
<div class='progress-msg'>[03:27:33] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:33] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:33] - Custom field `discount_type` will be updated with value `1` for post `Lazur` ...</div>
<div class='progress-msg'>[03:27:33] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:33] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:33] - Custom field `min_amount` will be updated with value `50.00` for post `Lazur` ...</div>
<div class='progress-msg'>[03:27:33] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:33] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:33] - Custom field `peruser_limit` will be updated with value `0` for post `Lazur` ...</div>
<div class='progress-msg'>[03:27:33] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:33] <b>IMAGES:</b></div>
<div class='progress-msg'>[03:27:33] <b>CREATED</b> `Lazur` `Kupon` (ID: 6416)</div>
<div class='progress-msg'>[03:27:33] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[03:27:33] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[03:27:33] ---</div>
<div class='progress-msg'>[03:27:33] Record #22</div>
<div class='progress-msg'>[03:27:33] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[03:27:33] Combine all data for post `Jerzy`...</div>
<div class='progress-msg'>[03:27:33] Find corresponding article among previously imported for post `Jerzy`...</div>
<div class='progress-msg'>[03:27:33] Duplicate post wasn't found with unique key `Szaman30`...</div>
<div class='progress-msg'>[03:27:33] Applying filter `pmxi_article_data` for `Jerzy`</div>
<div class='progress-msg'>[03:27:33] <b>CREATING</b> `Jerzy` `Kupon`</div>
<div class='progress-msg'>[03:27:33] Associate post `Jerzy` with current import ...</div>
<div class='progress-msg'>[03:27:33] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[03:27:33] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:33] - Custom field `discount` will be updated with value `19.59` for post `Jerzy` ...</div>
<div class='progress-msg'>[03:27:33] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:33] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:33] - Custom field `discount_type` will be updated with value `1` for post `Jerzy` ...</div>
<div class='progress-msg'>[03:27:33] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:33] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:33] - Custom field `min_amount` will be updated with value `50.00` for post `Jerzy` ...</div>
<div class='progress-msg'>[03:27:33] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:33] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:33] - Custom field `peruser_limit` will be updated with value `0` for post `Jerzy` ...</div>
<div class='progress-msg'>[03:27:33] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:33] <b>IMAGES:</b></div>
<div class='progress-msg'>[03:27:33] <b>CREATED</b> `Jerzy` `Kupon` (ID: 6417)</div>
<div class='progress-msg'>[03:27:33] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[03:27:33] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[03:27:33] ---</div>
<div class='progress-msg'>[03:27:33] Record #23</div>
<div class='progress-msg'>[03:27:33] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[03:27:33] Combine all data for post `ojrzanów warsztaty`...</div>
<div class='progress-msg'>[03:27:33] Find corresponding article among previously imported for post `ojrzanów warsztaty`...</div>
<div class='progress-msg'>[03:27:33] Duplicate post wasn't found with unique key `BB-132`...</div>
<div class='progress-msg'>[03:27:33] Applying filter `pmxi_article_data` for `ojrzanów warsztaty`</div>
<div class='progress-msg'>[03:27:33] <b>CREATING</b> `ojrzanów warsztaty` `Kupon`</div>
<div class='progress-msg'>[03:27:33] Associate post `ojrzanów warsztaty` with current import ...</div>
<div class='progress-msg'>[03:27:33] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[03:27:33] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:33] - Custom field `discount` will be updated with value `20.00` for post `ojrzanów warsztaty` ...</div>
<div class='progress-msg'>[03:27:33] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:33] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:33] - Custom field `discount_type` will be updated with value `1` for post `ojrzanów warsztaty` ...</div>
<div class='progress-msg'>[03:27:33] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:33] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:33] - Custom field `min_amount` will be updated with value `60.00` for post `ojrzanów warsztaty` ...</div>
<div class='progress-msg'>[03:27:33] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:33] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:33] - Custom field `peruser_limit` will be updated with value `0` for post `ojrzanów warsztaty` ...</div>
<div class='progress-msg'>[03:27:33] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:33] <b>IMAGES:</b></div>
<div class='progress-msg'>[03:27:33] <b>CREATED</b> `ojrzanów warsztaty` `Kupon` (ID: 6418)</div>
<div class='progress-msg'>[03:27:33] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[03:27:33] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[03:27:33] ---</div>
<div class='progress-msg'>[03:27:33] Record #24</div>
<div class='progress-msg'>[03:27:33] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[03:27:33] Combine all data for post `ojrzanow 2`...</div>
<div class='progress-msg'>[03:27:33] Find corresponding article among previously imported for post `ojrzanow 2`...</div>
<div class='progress-msg'>[03:27:33] Duplicate post wasn't found with unique key `BB-134`...</div>
<div class='progress-msg'>[03:27:33] Applying filter `pmxi_article_data` for `ojrzanow 2`</div>
<div class='progress-msg'>[03:27:33] <b>CREATING</b> `ojrzanow 2` `Kupon`</div>
<div class='progress-msg'>[03:27:33] Associate post `ojrzanow 2` with current import ...</div>
<div class='progress-msg'>[03:27:33] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[03:27:33] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:33] - Custom field `discount` will be updated with value `20.00` for post `ojrzanow 2` ...</div>
<div class='progress-msg'>[03:27:33] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:33] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:33] - Custom field `discount_type` will be updated with value `1` for post `ojrzanow 2` ...</div>
<div class='progress-msg'>[03:27:33] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:33] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:33] - Custom field `min_amount` will be updated with value `60.00` for post `ojrzanow 2` ...</div>
<div class='progress-msg'>[03:27:33] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:33] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:33] - Custom field `peruser_limit` will be updated with value `0` for post `ojrzanow 2` ...</div>
<div class='progress-msg'>[03:27:33] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:33] <b>IMAGES:</b></div>
<div class='progress-msg'>[03:27:33] <b>CREATED</b> `ojrzanow 2` `Kupon` (ID: 6419)</div>
<div class='progress-msg'>[03:27:33] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[03:27:33] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[03:27:33] ---</div>
<div class='progress-msg'>[03:27:33] Record #25</div>
<div class='progress-msg'>[03:27:33] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[03:27:33] Combine all data for post `Marta`...</div>
<div class='progress-msg'>[03:27:33] Find corresponding article among previously imported for post `Marta`...</div>
<div class='progress-msg'>[03:27:33] Duplicate post wasn't found with unique key `Marta`...</div>
<div class='progress-msg'>[03:27:33] Applying filter `pmxi_article_data` for `Marta`</div>
<div class='progress-msg'>[03:27:33] <b>CREATING</b> `Marta` `Kupon`</div>
<div class='progress-msg'>[03:27:33] Associate post `Marta` with current import ...</div>
<div class='progress-msg'>[03:27:33] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[03:27:33] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:33] - Custom field `discount` will be updated with value `34.00` for post `Marta` ...</div>
<div class='progress-msg'>[03:27:33] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:33] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:33] - Custom field `discount_type` will be updated with value `1` for post `Marta` ...</div>
<div class='progress-msg'>[03:27:33] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:33] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:33] - Custom field `min_amount` will be updated with value `50.00` for post `Marta` ...</div>
<div class='progress-msg'>[03:27:33] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:33] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:33] - Custom field `peruser_limit` will be updated with value `1` for post `Marta` ...</div>
<div class='progress-msg'>[03:27:33] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:33] <b>IMAGES:</b></div>
<div class='progress-msg'>[03:27:33] <b>CREATED</b> `Marta` `Kupon` (ID: 6420)</div>
<div class='progress-msg'>[03:27:33] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[03:27:33] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[03:27:33] ---</div>
<div class='progress-msg'>[03:27:33] Record #26</div>
<div class='progress-msg'>[03:27:33] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[03:27:33] Combine all data for post `BB-127`...</div>
<div class='progress-msg'>[03:27:33] Find corresponding article among previously imported for post `BB-127`...</div>
<div class='progress-msg'>[03:27:33] Duplicate post wasn't found with unique key `BB-127`...</div>
<div class='progress-msg'>[03:27:33] Applying filter `pmxi_article_data` for `BB-127`</div>
<div class='progress-msg'>[03:27:33] <b>CREATING</b> `BB-127` `Kupon`</div>
<div class='progress-msg'>[03:27:33] Associate post `BB-127` with current import ...</div>
<div class='progress-msg'>[03:27:33] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[03:27:33] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:33] - Custom field `discount` will be updated with value `19.59` for post `BB-127` ...</div>
<div class='progress-msg'>[03:27:33] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:33] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:33] - Custom field `discount_type` will be updated with value `1` for post `BB-127` ...</div>
<div class='progress-msg'>[03:27:33] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:33] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:33] - Custom field `min_amount` will be updated with value `50.00` for post `BB-127` ...</div>
<div class='progress-msg'>[03:27:33] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:33] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:33] - Custom field `peruser_limit` will be updated with value `0` for post `BB-127` ...</div>
<div class='progress-msg'>[03:27:33] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:33] <b>IMAGES:</b></div>
<div class='progress-msg'>[03:27:33] <b>CREATED</b> `BB-127` `Kupon` (ID: 6421)</div>
<div class='progress-msg'>[03:27:33] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[03:27:33] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[03:27:33] ---</div>
<div class='progress-msg'>[03:27:33] Record #27</div>
<div class='progress-msg'>[03:27:33] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[03:27:33] Combine all data for post `Renata`...</div>
<div class='progress-msg'>[03:27:33] Find corresponding article among previously imported for post `Renata`...</div>
<div class='progress-msg'>[03:27:33] Duplicate post wasn't found with unique key `f0dcb61fb2`...</div>
<div class='progress-msg'>[03:27:33] Applying filter `pmxi_article_data` for `Renata`</div>
<div class='progress-msg'>[03:27:33] <b>CREATING</b> `Renata` `Kupon`</div>
<div class='progress-msg'>[03:27:33] Associate post `Renata` with current import ...</div>
<div class='progress-msg'>[03:27:33] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[03:27:33] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:33] - Custom field `discount` will be updated with value `19.59` for post `Renata` ...</div>
<div class='progress-msg'>[03:27:33] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:33] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:33] - Custom field `discount_type` will be updated with value `1` for post `Renata` ...</div>
<div class='progress-msg'>[03:27:33] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:33] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:33] - Custom field `min_amount` will be updated with value `50.00` for post `Renata` ...</div>
<div class='progress-msg'>[03:27:33] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:33] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:33] - Custom field `peruser_limit` will be updated with value `0` for post `Renata` ...</div>
<div class='progress-msg'>[03:27:33] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:33] <b>IMAGES:</b></div>
<div class='progress-msg'>[03:27:33] <b>CREATED</b> `Renata` `Kupon` (ID: 6422)</div>
<div class='progress-msg'>[03:27:33] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[03:27:33] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[03:27:33] ---</div>
<div class='progress-msg'>[03:27:33] Record #28</div>
<div class='progress-msg'>[03:27:33] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[03:27:33] Combine all data for post `Rabat`...</div>
<div class='progress-msg'>[03:27:33] Find corresponding article among previously imported for post `Rabat`...</div>
<div class='progress-msg'>[03:27:33] Duplicate post wasn't found with unique key `Rabat`...</div>
<div class='progress-msg'>[03:27:33] Applying filter `pmxi_article_data` for `Rabat`</div>
<div class='progress-msg'>[03:27:33] <b>CREATING</b> `Rabat` `Kupon`</div>
<div class='progress-msg'>[03:27:33] Associate post `Rabat` with current import ...</div>
<div class='progress-msg'>[03:27:33] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[03:27:33] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:33] - Custom field `discount` will be updated with value `19.59` for post `Rabat` ...</div>
<div class='progress-msg'>[03:27:33] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:33] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:33] - Custom field `discount_type` will be updated with value `1` for post `Rabat` ...</div>
<div class='progress-msg'>[03:27:33] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:33] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:33] - Custom field `min_amount` will be updated with value `50.00` for post `Rabat` ...</div>
<div class='progress-msg'>[03:27:33] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:33] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:33] - Custom field `peruser_limit` will be updated with value `0` for post `Rabat` ...</div>
<div class='progress-msg'>[03:27:33] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:33] <b>IMAGES:</b></div>
<div class='progress-msg'>[03:27:33] <b>CREATED</b> `Rabat` `Kupon` (ID: 6423)</div>
<div class='progress-msg'>[03:27:33] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[03:27:33] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[03:27:33] ---</div>
<div class='progress-msg'>[03:27:33] Record #29</div>
<div class='progress-msg'>[03:27:33] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[03:27:33] Combine all data for post `LOVE`...</div>
<div class='progress-msg'>[03:27:33] Find corresponding article among previously imported for post `LOVE`...</div>
<div class='progress-msg'>[03:27:33] Duplicate post wasn't found with unique key `LOVE`...</div>
<div class='progress-msg'>[03:27:33] Applying filter `pmxi_article_data` for `LOVE`</div>
<div class='progress-msg'>[03:27:33] <b>CREATING</b> `LOVE` `Kupon`</div>
<div class='progress-msg'>[03:27:33] Associate post `LOVE` with current import ...</div>
<div class='progress-msg'>[03:27:33] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[03:27:33] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:33] - Custom field `discount` will be updated with value `19.59` for post `LOVE` ...</div>
<div class='progress-msg'>[03:27:33] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:33] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:33] - Custom field `discount_type` will be updated with value `1` for post `LOVE` ...</div>
<div class='progress-msg'>[03:27:33] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:33] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:33] - Custom field `min_amount` will be updated with value `50.00` for post `LOVE` ...</div>
<div class='progress-msg'>[03:27:33] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:33] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[03:27:33] - Custom field `peruser_limit` will be updated with value `0` for post `LOVE` ...</div>
<div class='progress-msg'>[03:27:33] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[03:27:33] <b>IMAGES:</b></div>
<div class='progress-msg'>[03:27:33] <b>CREATED</b> `LOVE` `Kupon` (ID: 6424)</div>
<div class='progress-msg'>[03:27:33] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[03:27:33] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[03:27:33] Cleaning temporary data...</div>
