<div class='progress-msg'>Mon, 07 Oct 2019 14:26:27 +0200</div>
<div class='progress-msg'>[14:26:27] Composing titles...</div>
<div class='progress-msg'>[14:26:27] Composing excerpts...</div>
<div class='progress-msg'>[14:26:27] Composing duplicate indicators...</div>
<div class='progress-msg'>[14:26:27] Composing authors...</div>
<div class='progress-msg'>[14:26:27] Composing slugs...</div>
<div class='progress-msg'>[14:26:27] Composing menu order...</div>
<div class='progress-msg'>[14:26:27] Composing contents...</div>
<div class='progress-msg'>[14:26:27] Composing dates...</div>
<div class='progress-msg'>[14:26:27] Composing custom parameters...</div>
<div class='progress-msg'>[14:26:27] Composing URLs for images...</div>
<div class='progress-msg'>[14:26:27] Composing URLs for attachments files...</div>
<div class='progress-msg'>[14:26:27] Composing unique keys...</div>
<div class='progress-msg'>[14:26:27] Processing posts...</div>
<div class='progress-msg'>[14:26:27] Data parsing via add-ons...</div>
<div class='progress-msg'>[14:26:27] ---</div>
<div class='progress-msg'>[14:26:27] Record #1</div>
<div class='progress-msg'>[14:26:27] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[14:26:27] Combine all data for post `72d489c92f`...</div>
<div class='progress-msg'>[14:26:27] Find corresponding article among previously imported for post `72d489c92f`...</div>
<div class='progress-msg'>[14:26:27] Duplicate post wasn't found with unique key `72d489c92f`...</div>
<div class='progress-msg'>[14:26:27] Applying filter `pmxi_article_data` for `72d489c92f`</div>
<div class='progress-msg'>[14:26:27] <b>CREATING</b> `72d489c92f` `Kupon`</div>
<div class='progress-msg'>[14:26:27] Associate post `72d489c92f` with current import ...</div>
<div class='progress-msg'>[14:26:27] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:27] - Custom field `usage_limit_per_user` will be updated with value `1` for post `72d489c92f` ...</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:27] - Custom field `usage_limit` will be updated with value `100` for post `72d489c92f` ...</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:27] - Custom field `discount_type` will be updated with value `percent` for post `72d489c92f` ...</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:27] - Custom field `expiry_date` will be updated with value `2019-11-30` for post `72d489c92f` ...</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:27] <b>IMAGES:</b></div>
<div class='progress-msg'>[14:26:27] <b>CREATED</b> `72d489c92f` `Kupon` (ID: 6476)</div>
<div class='progress-msg'>[14:26:27] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[14:26:27] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[14:26:27] ---</div>
<div class='progress-msg'>[14:26:27] Record #2</div>
<div class='progress-msg'>[14:26:27] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[14:26:27] Combine all data for post `9d7a2b9b0b`...</div>
<div class='progress-msg'>[14:26:27] Find corresponding article among previously imported for post `9d7a2b9b0b`...</div>
<div class='progress-msg'>[14:26:27] Duplicate post wasn't found with unique key `9d7a2b9b0b`...</div>
<div class='progress-msg'>[14:26:27] Applying filter `pmxi_article_data` for `9d7a2b9b0b`</div>
<div class='progress-msg'>[14:26:27] <b>CREATING</b> `9d7a2b9b0b` `Kupon`</div>
<div class='progress-msg'>[14:26:27] Associate post `9d7a2b9b0b` with current import ...</div>
<div class='progress-msg'>[14:26:27] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:27] - Custom field `usage_limit_per_user` will be updated with value `1` for post `9d7a2b9b0b` ...</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:27] - Custom field `usage_limit` will be updated with value `100` for post `9d7a2b9b0b` ...</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:27] - Custom field `discount_type` will be updated with value `percent` for post `9d7a2b9b0b` ...</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:27] - Custom field `expiry_date` will be updated with value `2020-02-27` for post `9d7a2b9b0b` ...</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:27] <b>IMAGES:</b></div>
<div class='progress-msg'>[14:26:27] <b>CREATED</b> `9d7a2b9b0b` `Kupon` (ID: 6477)</div>
<div class='progress-msg'>[14:26:27] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[14:26:27] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[14:26:27] ---</div>
<div class='progress-msg'>[14:26:27] Record #3</div>
<div class='progress-msg'>[14:26:27] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[14:26:27] Combine all data for post `bb-101`...</div>
<div class='progress-msg'>[14:26:27] Find corresponding article among previously imported for post `bb-101`...</div>
<div class='progress-msg'>[14:26:27] Duplicate post wasn't found with unique key `bb-101`...</div>
<div class='progress-msg'>[14:26:27] Applying filter `pmxi_article_data` for `bb-101`</div>
<div class='progress-msg'>[14:26:27] <b>CREATING</b> `bb-101` `Kupon`</div>
<div class='progress-msg'>[14:26:27] Associate post `bb-101` with current import ...</div>
<div class='progress-msg'>[14:26:27] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:27] - Custom field `usage_limit_per_user` will be updated with value `0` for post `bb-101` ...</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:27] - Custom field `usage_limit` will be updated with value `0` for post `bb-101` ...</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:27] - Custom field `discount_type` will be updated with value `percent` for post `bb-101` ...</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:27] - Custom field `expiry_date` will be updated with value `` for post `bb-101` ...</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:27] <b>IMAGES:</b></div>
<div class='progress-msg'>[14:26:27] <b>CREATED</b> `bb-101` `Kupon` (ID: 6478)</div>
<div class='progress-msg'>[14:26:27] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[14:26:27] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[14:26:27] ---</div>
<div class='progress-msg'>[14:26:27] Record #4</div>
<div class='progress-msg'>[14:26:27] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[14:26:27] Combine all data for post `001`...</div>
<div class='progress-msg'>[14:26:27] Find corresponding article among previously imported for post `001`...</div>
<div class='progress-msg'>[14:26:27] Duplicate post wasn't found with unique key `001`...</div>
<div class='progress-msg'>[14:26:27] Applying filter `pmxi_article_data` for `001`</div>
<div class='progress-msg'>[14:26:27] <b>CREATING</b> `001` `Kupon`</div>
<div class='progress-msg'>[14:26:27] Associate post `001` with current import ...</div>
<div class='progress-msg'>[14:26:27] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:27] - Custom field `usage_limit_per_user` will be updated with value `0` for post `001` ...</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:27] - Custom field `usage_limit` will be updated with value `1` for post `001` ...</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:27] - Custom field `discount_type` will be updated with value `percent` for post `001` ...</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:27] - Custom field `expiry_date` will be updated with value `2019-04-12` for post `001` ...</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:27] <b>IMAGES:</b></div>
<div class='progress-msg'>[14:26:27] <b>CREATED</b> `001` `Kupon` (ID: 6479)</div>
<div class='progress-msg'>[14:26:27] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[14:26:27] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[14:26:27] ---</div>
<div class='progress-msg'>[14:26:27] Record #5</div>
<div class='progress-msg'>[14:26:27] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[14:26:27] Combine all data for post `002`...</div>
<div class='progress-msg'>[14:26:27] Find corresponding article among previously imported for post `002`...</div>
<div class='progress-msg'>[14:26:27] Duplicate post wasn't found with unique key `002`...</div>
<div class='progress-msg'>[14:26:27] Applying filter `pmxi_article_data` for `002`</div>
<div class='progress-msg'>[14:26:27] <b>CREATING</b> `002` `Kupon`</div>
<div class='progress-msg'>[14:26:27] Associate post `002` with current import ...</div>
<div class='progress-msg'>[14:26:27] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:27] - Custom field `usage_limit_per_user` will be updated with value `0` for post `002` ...</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:27] - Custom field `usage_limit` will be updated with value `0` for post `002` ...</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:27] - Custom field `discount_type` will be updated with value `percent` for post `002` ...</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:27] - Custom field `expiry_date` will be updated with value `2019-09-28` for post `002` ...</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:27] <b>IMAGES:</b></div>
<div class='progress-msg'>[14:26:27] <b>CREATED</b> `002` `Kupon` (ID: 6480)</div>
<div class='progress-msg'>[14:26:27] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[14:26:27] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[14:26:27] ---</div>
<div class='progress-msg'>[14:26:27] Record #6</div>
<div class='progress-msg'>[14:26:27] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[14:26:27] Combine all data for post `bb-0012-wm`...</div>
<div class='progress-msg'>[14:26:27] Find corresponding article among previously imported for post `bb-0012-wm`...</div>
<div class='progress-msg'>[14:26:27] Duplicate post wasn't found with unique key `bb-0012-wm`...</div>
<div class='progress-msg'>[14:26:27] Applying filter `pmxi_article_data` for `bb-0012-wm`</div>
<div class='progress-msg'>[14:26:27] <b>CREATING</b> `bb-0012-wm` `Kupon`</div>
<div class='progress-msg'>[14:26:27] Associate post `bb-0012-wm` with current import ...</div>
<div class='progress-msg'>[14:26:27] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:27] - Custom field `usage_limit_per_user` will be updated with value `1` for post `bb-0012-wm` ...</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:27] - Custom field `usage_limit` will be updated with value `0` for post `bb-0012-wm` ...</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:27] - Custom field `discount_type` will be updated with value `percent` for post `bb-0012-wm` ...</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:27] - Custom field `expiry_date` will be updated with value `2020-04-14` for post `bb-0012-wm` ...</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:27] <b>IMAGES:</b></div>
<div class='progress-msg'>[14:26:27] <b>CREATED</b> `bb-0012-wm` `Kupon` (ID: 6481)</div>
<div class='progress-msg'>[14:26:27] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[14:26:27] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[14:26:27] ---</div>
<div class='progress-msg'>[14:26:27] Record #7</div>
<div class='progress-msg'>[14:26:27] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[14:26:27] Combine all data for post `bb-0011-wm`...</div>
<div class='progress-msg'>[14:26:27] Find corresponding article among previously imported for post `bb-0011-wm`...</div>
<div class='progress-msg'>[14:26:27] Duplicate post wasn't found with unique key `bb-0011-wm`...</div>
<div class='progress-msg'>[14:26:27] Applying filter `pmxi_article_data` for `bb-0011-wm`</div>
<div class='progress-msg'>[14:26:27] <b>CREATING</b> `bb-0011-wm` `Kupon`</div>
<div class='progress-msg'>[14:26:27] Associate post `bb-0011-wm` with current import ...</div>
<div class='progress-msg'>[14:26:27] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:27] - Custom field `usage_limit_per_user` will be updated with value `1` for post `bb-0011-wm` ...</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:27] - Custom field `usage_limit` will be updated with value `0` for post `bb-0011-wm` ...</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:27] - Custom field `discount_type` will be updated with value `percent` for post `bb-0011-wm` ...</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:27] - Custom field `expiry_date` will be updated with value `2020-06-26` for post `bb-0011-wm` ...</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:27] <b>IMAGES:</b></div>
<div class='progress-msg'>[14:26:27] <b>CREATED</b> `bb-0011-wm` `Kupon` (ID: 6482)</div>
<div class='progress-msg'>[14:26:27] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[14:26:27] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[14:26:27] ---</div>
<div class='progress-msg'>[14:26:27] Record #8</div>
<div class='progress-msg'>[14:26:27] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[14:26:27] Combine all data for post `Sweet Lady`...</div>
<div class='progress-msg'>[14:26:27] Find corresponding article among previously imported for post `Sweet Lady`...</div>
<div class='progress-msg'>[14:26:27] Duplicate post wasn't found with unique key `Sweet Lady`...</div>
<div class='progress-msg'>[14:26:27] Applying filter `pmxi_article_data` for `Sweet Lady`</div>
<div class='progress-msg'>[14:26:27] <b>CREATING</b> `Sweet Lady` `Kupon`</div>
<div class='progress-msg'>[14:26:27] Associate post `Sweet Lady` with current import ...</div>
<div class='progress-msg'>[14:26:27] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:27] - Custom field `usage_limit_per_user` will be updated with value `1` for post `Sweet Lady` ...</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:27] - Custom field `usage_limit` will be updated with value `3` for post `Sweet Lady` ...</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:27] - Custom field `discount_type` will be updated with value `percent` for post `Sweet Lady` ...</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:27] - Custom field `expiry_date` will be updated with value `2019-12-31` for post `Sweet Lady` ...</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:27] <b>IMAGES:</b></div>
<div class='progress-msg'>[14:26:27] <b>CREATED</b> `Sweet Lady` `Kupon` (ID: 6483)</div>
<div class='progress-msg'>[14:26:27] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[14:26:27] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[14:26:27] ---</div>
<div class='progress-msg'>[14:26:27] Record #9</div>
<div class='progress-msg'>[14:26:27] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[14:26:27] Combine all data for post `8c5eb1cd68`...</div>
<div class='progress-msg'>[14:26:27] Find corresponding article among previously imported for post `8c5eb1cd68`...</div>
<div class='progress-msg'>[14:26:27] Duplicate post wasn't found with unique key `8c5eb1cd68`...</div>
<div class='progress-msg'>[14:26:27] Applying filter `pmxi_article_data` for `8c5eb1cd68`</div>
<div class='progress-msg'>[14:26:27] <b>CREATING</b> `8c5eb1cd68` `Kupon`</div>
<div class='progress-msg'>[14:26:27] Associate post `8c5eb1cd68` with current import ...</div>
<div class='progress-msg'>[14:26:27] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:27] - Custom field `usage_limit_per_user` will be updated with value `1` for post `8c5eb1cd68` ...</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:27] - Custom field `usage_limit` will be updated with value `0` for post `8c5eb1cd68` ...</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:27] - Custom field `discount_type` will be updated with value `percent` for post `8c5eb1cd68` ...</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:27] - Custom field `expiry_date` will be updated with value `2019-06-30` for post `8c5eb1cd68` ...</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:27] <b>IMAGES:</b></div>
<div class='progress-msg'>[14:26:27] <b>CREATED</b> `8c5eb1cd68` `Kupon` (ID: 6484)</div>
<div class='progress-msg'>[14:26:27] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[14:26:27] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[14:26:27] ---</div>
<div class='progress-msg'>[14:26:27] Record #10</div>
<div class='progress-msg'>[14:26:27] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[14:26:27] Combine all data for post `aadb7f14cb`...</div>
<div class='progress-msg'>[14:26:27] Find corresponding article among previously imported for post `aadb7f14cb`...</div>
<div class='progress-msg'>[14:26:27] Duplicate post wasn't found with unique key `aadb7f14cb`...</div>
<div class='progress-msg'>[14:26:27] Applying filter `pmxi_article_data` for `aadb7f14cb`</div>
<div class='progress-msg'>[14:26:27] <b>CREATING</b> `aadb7f14cb` `Kupon`</div>
<div class='progress-msg'>[14:26:27] Associate post `aadb7f14cb` with current import ...</div>
<div class='progress-msg'>[14:26:27] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:27] - Custom field `usage_limit_per_user` will be updated with value `1` for post `aadb7f14cb` ...</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:27] - Custom field `usage_limit` will be updated with value `0` for post `aadb7f14cb` ...</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:27] - Custom field `discount_type` will be updated with value `percent` for post `aadb7f14cb` ...</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:27] - Custom field `expiry_date` will be updated with value `2019-06-30` for post `aadb7f14cb` ...</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:27] <b>IMAGES:</b></div>
<div class='progress-msg'>[14:26:27] <b>CREATED</b> `aadb7f14cb` `Kupon` (ID: 6485)</div>
<div class='progress-msg'>[14:26:27] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[14:26:27] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[14:26:27] ---</div>
<div class='progress-msg'>[14:26:27] Record #11</div>
<div class='progress-msg'>[14:26:27] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[14:26:27] Combine all data for post `0063f7be77`...</div>
<div class='progress-msg'>[14:26:27] Find corresponding article among previously imported for post `0063f7be77`...</div>
<div class='progress-msg'>[14:26:27] Duplicate post wasn't found with unique key `0063f7be77`...</div>
<div class='progress-msg'>[14:26:27] Applying filter `pmxi_article_data` for `0063f7be77`</div>
<div class='progress-msg'>[14:26:27] <b>CREATING</b> `0063f7be77` `Kupon`</div>
<div class='progress-msg'>[14:26:27] Associate post `0063f7be77` with current import ...</div>
<div class='progress-msg'>[14:26:27] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:27] - Custom field `usage_limit_per_user` will be updated with value `1` for post `0063f7be77` ...</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:27] - Custom field `usage_limit` will be updated with value `0` for post `0063f7be77` ...</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:27] - Custom field `discount_type` will be updated with value `percent` for post `0063f7be77` ...</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:27] - Custom field `expiry_date` will be updated with value `2019-06-30` for post `0063f7be77` ...</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:27] <b>IMAGES:</b></div>
<div class='progress-msg'>[14:26:27] <b>CREATED</b> `0063f7be77` `Kupon` (ID: 6486)</div>
<div class='progress-msg'>[14:26:27] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[14:26:27] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[14:26:27] ---</div>
<div class='progress-msg'>[14:26:27] Record #12</div>
<div class='progress-msg'>[14:26:27] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[14:26:27] Combine all data for post `783d75165d`...</div>
<div class='progress-msg'>[14:26:27] Find corresponding article among previously imported for post `783d75165d`...</div>
<div class='progress-msg'>[14:26:27] Duplicate post wasn't found with unique key `783d75165d`...</div>
<div class='progress-msg'>[14:26:27] Applying filter `pmxi_article_data` for `783d75165d`</div>
<div class='progress-msg'>[14:26:27] <b>CREATING</b> `783d75165d` `Kupon`</div>
<div class='progress-msg'>[14:26:27] Associate post `783d75165d` with current import ...</div>
<div class='progress-msg'>[14:26:27] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:27] - Custom field `usage_limit_per_user` will be updated with value `1` for post `783d75165d` ...</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:27] - Custom field `usage_limit` will be updated with value `0` for post `783d75165d` ...</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:27] - Custom field `discount_type` will be updated with value `percent` for post `783d75165d` ...</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:27] - Custom field `expiry_date` will be updated with value `2019-06-30` for post `783d75165d` ...</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:27] <b>IMAGES:</b></div>
<div class='progress-msg'>[14:26:27] <b>CREATED</b> `783d75165d` `Kupon` (ID: 6487)</div>
<div class='progress-msg'>[14:26:27] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[14:26:27] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[14:26:27] ---</div>
<div class='progress-msg'>[14:26:27] Record #13</div>
<div class='progress-msg'>[14:26:27] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[14:26:27] Combine all data for post `8c4d3b99b4`...</div>
<div class='progress-msg'>[14:26:27] Find corresponding article among previously imported for post `8c4d3b99b4`...</div>
<div class='progress-msg'>[14:26:27] Duplicate post wasn't found with unique key `8c4d3b99b4`...</div>
<div class='progress-msg'>[14:26:27] Applying filter `pmxi_article_data` for `8c4d3b99b4`</div>
<div class='progress-msg'>[14:26:27] <b>CREATING</b> `8c4d3b99b4` `Kupon`</div>
<div class='progress-msg'>[14:26:27] Associate post `8c4d3b99b4` with current import ...</div>
<div class='progress-msg'>[14:26:27] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:27] - Custom field `usage_limit_per_user` will be updated with value `1` for post `8c4d3b99b4` ...</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:27] - Custom field `usage_limit` will be updated with value `0` for post `8c4d3b99b4` ...</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:27] - Custom field `discount_type` will be updated with value `percent` for post `8c4d3b99b4` ...</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:27] - Custom field `expiry_date` will be updated with value `2019-06-30` for post `8c4d3b99b4` ...</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:27] <b>IMAGES:</b></div>
<div class='progress-msg'>[14:26:27] <b>CREATED</b> `8c4d3b99b4` `Kupon` (ID: 6488)</div>
<div class='progress-msg'>[14:26:27] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[14:26:27] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[14:26:27] ---</div>
<div class='progress-msg'>[14:26:27] Record #14</div>
<div class='progress-msg'>[14:26:27] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[14:26:27] Combine all data for post `f996d586dd`...</div>
<div class='progress-msg'>[14:26:27] Find corresponding article among previously imported for post `f996d586dd`...</div>
<div class='progress-msg'>[14:26:27] Duplicate post wasn't found with unique key `f996d586dd`...</div>
<div class='progress-msg'>[14:26:27] Applying filter `pmxi_article_data` for `f996d586dd`</div>
<div class='progress-msg'>[14:26:27] <b>CREATING</b> `f996d586dd` `Kupon`</div>
<div class='progress-msg'>[14:26:27] Associate post `f996d586dd` with current import ...</div>
<div class='progress-msg'>[14:26:27] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:27] - Custom field `usage_limit_per_user` will be updated with value `1` for post `f996d586dd` ...</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:27] - Custom field `usage_limit` will be updated with value `0` for post `f996d586dd` ...</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:27] - Custom field `discount_type` will be updated with value `percent` for post `f996d586dd` ...</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:27] - Custom field `expiry_date` will be updated with value `2019-06-30` for post `f996d586dd` ...</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:27] <b>IMAGES:</b></div>
<div class='progress-msg'>[14:26:27] <b>CREATED</b> `f996d586dd` `Kupon` (ID: 6489)</div>
<div class='progress-msg'>[14:26:27] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[14:26:27] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[14:26:27] ---</div>
<div class='progress-msg'>[14:26:27] Record #15</div>
<div class='progress-msg'>[14:26:27] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[14:26:27] Combine all data for post `0822ab5553`...</div>
<div class='progress-msg'>[14:26:27] Find corresponding article among previously imported for post `0822ab5553`...</div>
<div class='progress-msg'>[14:26:27] Duplicate post wasn't found with unique key `0822ab5553`...</div>
<div class='progress-msg'>[14:26:27] Applying filter `pmxi_article_data` for `0822ab5553`</div>
<div class='progress-msg'>[14:26:27] <b>CREATING</b> `0822ab5553` `Kupon`</div>
<div class='progress-msg'>[14:26:27] Associate post `0822ab5553` with current import ...</div>
<div class='progress-msg'>[14:26:27] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:27] - Custom field `usage_limit_per_user` will be updated with value `1` for post `0822ab5553` ...</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:27] - Custom field `usage_limit` will be updated with value `0` for post `0822ab5553` ...</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:27] - Custom field `discount_type` will be updated with value `percent` for post `0822ab5553` ...</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:27] - Custom field `expiry_date` will be updated with value `2019-06-30` for post `0822ab5553` ...</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:27] <b>IMAGES:</b></div>
<div class='progress-msg'>[14:26:27] <b>CREATED</b> `0822ab5553` `Kupon` (ID: 6490)</div>
<div class='progress-msg'>[14:26:27] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[14:26:27] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[14:26:27] ---</div>
<div class='progress-msg'>[14:26:27] Record #16</div>
<div class='progress-msg'>[14:26:27] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[14:26:27] Combine all data for post `02cd2cdfa3`...</div>
<div class='progress-msg'>[14:26:27] Find corresponding article among previously imported for post `02cd2cdfa3`...</div>
<div class='progress-msg'>[14:26:27] Duplicate post wasn't found with unique key `02cd2cdfa3`...</div>
<div class='progress-msg'>[14:26:27] Applying filter `pmxi_article_data` for `02cd2cdfa3`</div>
<div class='progress-msg'>[14:26:27] <b>CREATING</b> `02cd2cdfa3` `Kupon`</div>
<div class='progress-msg'>[14:26:27] Associate post `02cd2cdfa3` with current import ...</div>
<div class='progress-msg'>[14:26:27] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:27] - Custom field `usage_limit_per_user` will be updated with value `1` for post `02cd2cdfa3` ...</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:27] - Custom field `usage_limit` will be updated with value `0` for post `02cd2cdfa3` ...</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:27] - Custom field `discount_type` will be updated with value `percent` for post `02cd2cdfa3` ...</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:27] - Custom field `expiry_date` will be updated with value `2019-06-30` for post `02cd2cdfa3` ...</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:27] <b>IMAGES:</b></div>
<div class='progress-msg'>[14:26:27] <b>CREATED</b> `02cd2cdfa3` `Kupon` (ID: 6491)</div>
<div class='progress-msg'>[14:26:27] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[14:26:27] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[14:26:27] ---</div>
<div class='progress-msg'>[14:26:27] Record #17</div>
<div class='progress-msg'>[14:26:27] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[14:26:27] Combine all data for post `e82fd0669a`...</div>
<div class='progress-msg'>[14:26:27] Find corresponding article among previously imported for post `e82fd0669a`...</div>
<div class='progress-msg'>[14:26:27] Duplicate post wasn't found with unique key `e82fd0669a`...</div>
<div class='progress-msg'>[14:26:27] Applying filter `pmxi_article_data` for `e82fd0669a`</div>
<div class='progress-msg'>[14:26:27] <b>CREATING</b> `e82fd0669a` `Kupon`</div>
<div class='progress-msg'>[14:26:27] Associate post `e82fd0669a` with current import ...</div>
<div class='progress-msg'>[14:26:27] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:27] - Custom field `usage_limit_per_user` will be updated with value `1` for post `e82fd0669a` ...</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:27] - Custom field `usage_limit` will be updated with value `0` for post `e82fd0669a` ...</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:27] - Custom field `discount_type` will be updated with value `percent` for post `e82fd0669a` ...</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:27] - Custom field `expiry_date` will be updated with value `2019-06-30` for post `e82fd0669a` ...</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:27] <b>IMAGES:</b></div>
<div class='progress-msg'>[14:26:27] <b>CREATED</b> `e82fd0669a` `Kupon` (ID: 6492)</div>
<div class='progress-msg'>[14:26:27] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[14:26:27] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[14:26:27] ---</div>
<div class='progress-msg'>[14:26:27] Record #18</div>
<div class='progress-msg'>[14:26:27] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[14:26:27] Combine all data for post `e40f90ad52`...</div>
<div class='progress-msg'>[14:26:27] Find corresponding article among previously imported for post `e40f90ad52`...</div>
<div class='progress-msg'>[14:26:27] Duplicate post wasn't found with unique key `e40f90ad52`...</div>
<div class='progress-msg'>[14:26:27] Applying filter `pmxi_article_data` for `e40f90ad52`</div>
<div class='progress-msg'>[14:26:27] <b>CREATING</b> `e40f90ad52` `Kupon`</div>
<div class='progress-msg'>[14:26:27] Associate post `e40f90ad52` with current import ...</div>
<div class='progress-msg'>[14:26:27] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:27] - Custom field `usage_limit_per_user` will be updated with value `1` for post `e40f90ad52` ...</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:27] - Custom field `usage_limit` will be updated with value `0` for post `e40f90ad52` ...</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:27] - Custom field `discount_type` will be updated with value `percent` for post `e40f90ad52` ...</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:27] - Custom field `expiry_date` will be updated with value `2019-06-30` for post `e40f90ad52` ...</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:27] <b>IMAGES:</b></div>
<div class='progress-msg'>[14:26:27] <b>CREATED</b> `e40f90ad52` `Kupon` (ID: 6493)</div>
<div class='progress-msg'>[14:26:27] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[14:26:27] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[14:26:27] ---</div>
<div class='progress-msg'>[14:26:27] Record #19</div>
<div class='progress-msg'>[14:26:27] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[14:26:27] Combine all data for post `14fbd732bb`...</div>
<div class='progress-msg'>[14:26:27] Find corresponding article among previously imported for post `14fbd732bb`...</div>
<div class='progress-msg'>[14:26:27] Duplicate post wasn't found with unique key `14fbd732bb`...</div>
<div class='progress-msg'>[14:26:27] Applying filter `pmxi_article_data` for `14fbd732bb`</div>
<div class='progress-msg'>[14:26:27] <b>CREATING</b> `14fbd732bb` `Kupon`</div>
<div class='progress-msg'>[14:26:27] Associate post `14fbd732bb` with current import ...</div>
<div class='progress-msg'>[14:26:27] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:27] - Custom field `usage_limit_per_user` will be updated with value `1` for post `14fbd732bb` ...</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:27] - Custom field `usage_limit` will be updated with value `0` for post `14fbd732bb` ...</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:27] - Custom field `discount_type` will be updated with value `percent` for post `14fbd732bb` ...</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:27] - Custom field `expiry_date` will be updated with value `2019-06-30` for post `14fbd732bb` ...</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:27] <b>IMAGES:</b></div>
<div class='progress-msg'>[14:26:27] <b>CREATED</b> `14fbd732bb` `Kupon` (ID: 6494)</div>
<div class='progress-msg'>[14:26:27] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[14:26:27] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[14:26:27] ---</div>
<div class='progress-msg'>[14:26:27] Record #20</div>
<div class='progress-msg'>[14:26:27] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[14:26:27] Combine all data for post `2619c7734d`...</div>
<div class='progress-msg'>[14:26:27] Find corresponding article among previously imported for post `2619c7734d`...</div>
<div class='progress-msg'>[14:26:27] Duplicate post wasn't found with unique key `2619c7734d`...</div>
<div class='progress-msg'>[14:26:27] Applying filter `pmxi_article_data` for `2619c7734d`</div>
<div class='progress-msg'>[14:26:27] <b>CREATING</b> `2619c7734d` `Kupon`</div>
<div class='progress-msg'>[14:26:27] Associate post `2619c7734d` with current import ...</div>
<div class='progress-msg'>[14:26:27] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:27] - Custom field `usage_limit_per_user` will be updated with value `1` for post `2619c7734d` ...</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:27] - Custom field `usage_limit` will be updated with value `0` for post `2619c7734d` ...</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:27] - Custom field `discount_type` will be updated with value `percent` for post `2619c7734d` ...</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:27] - Custom field `expiry_date` will be updated with value `2019-06-30` for post `2619c7734d` ...</div>
<div class='progress-msg'>[14:26:27] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:27] <b>IMAGES:</b></div>
<div class='progress-msg'>[14:26:27] <b>CREATED</b> `2619c7734d` `Kupon` (ID: 6495)</div>
<div class='progress-msg'>[14:26:27] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[14:26:27] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[14:26:30] ---</div>
<div class='progress-msg'>[14:26:30] Record #21</div>
<div class='progress-msg'>[14:26:30] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[14:26:30] Combine all data for post `Lazur`...</div>
<div class='progress-msg'>[14:26:30] Find corresponding article among previously imported for post `Lazur`...</div>
<div class='progress-msg'>[14:26:30] Duplicate post wasn't found with unique key `Lazur`...</div>
<div class='progress-msg'>[14:26:30] Applying filter `pmxi_article_data` for `Lazur`</div>
<div class='progress-msg'>[14:26:30] <b>CREATING</b> `Lazur` `Kupon`</div>
<div class='progress-msg'>[14:26:30] Associate post `Lazur` with current import ...</div>
<div class='progress-msg'>[14:26:30] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[14:26:30] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:30] - Custom field `usage_limit_per_user` will be updated with value `0` for post `Lazur` ...</div>
<div class='progress-msg'>[14:26:30] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:30] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:30] - Custom field `usage_limit` will be updated with value `1` for post `Lazur` ...</div>
<div class='progress-msg'>[14:26:30] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:30] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:30] - Custom field `discount_type` will be updated with value `percent` for post `Lazur` ...</div>
<div class='progress-msg'>[14:26:30] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:30] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:30] - Custom field `expiry_date` will be updated with value `2019-08-04` for post `Lazur` ...</div>
<div class='progress-msg'>[14:26:30] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:30] <b>IMAGES:</b></div>
<div class='progress-msg'>[14:26:30] <b>CREATED</b> `Lazur` `Kupon` (ID: 6496)</div>
<div class='progress-msg'>[14:26:30] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[14:26:30] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[14:26:30] ---</div>
<div class='progress-msg'>[14:26:30] Record #22</div>
<div class='progress-msg'>[14:26:30] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[14:26:30] Combine all data for post `Szaman30`...</div>
<div class='progress-msg'>[14:26:30] Find corresponding article among previously imported for post `Szaman30`...</div>
<div class='progress-msg'>[14:26:30] Duplicate post wasn't found with unique key `Szaman30`...</div>
<div class='progress-msg'>[14:26:30] Applying filter `pmxi_article_data` for `Szaman30`</div>
<div class='progress-msg'>[14:26:30] <b>CREATING</b> `Szaman30` `Kupon`</div>
<div class='progress-msg'>[14:26:30] Associate post `Szaman30` with current import ...</div>
<div class='progress-msg'>[14:26:30] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[14:26:30] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:30] - Custom field `usage_limit_per_user` will be updated with value `0` for post `Szaman30` ...</div>
<div class='progress-msg'>[14:26:30] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:30] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:30] - Custom field `usage_limit` will be updated with value `0` for post `Szaman30` ...</div>
<div class='progress-msg'>[14:26:30] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:30] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:30] - Custom field `discount_type` will be updated with value `percent` for post `Szaman30` ...</div>
<div class='progress-msg'>[14:26:30] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:30] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:30] - Custom field `expiry_date` will be updated with value `2019-07-31` for post `Szaman30` ...</div>
<div class='progress-msg'>[14:26:30] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:30] <b>IMAGES:</b></div>
<div class='progress-msg'>[14:26:30] <b>CREATED</b> `Szaman30` `Kupon` (ID: 6497)</div>
<div class='progress-msg'>[14:26:30] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[14:26:30] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[14:26:30] ---</div>
<div class='progress-msg'>[14:26:30] Record #23</div>
<div class='progress-msg'>[14:26:30] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[14:26:30] Combine all data for post `BB-132`...</div>
<div class='progress-msg'>[14:26:30] Find corresponding article among previously imported for post `BB-132`...</div>
<div class='progress-msg'>[14:26:30] Duplicate post wasn't found with unique key `BB-132`...</div>
<div class='progress-msg'>[14:26:30] Applying filter `pmxi_article_data` for `BB-132`</div>
<div class='progress-msg'>[14:26:30] <b>CREATING</b> `BB-132` `Kupon`</div>
<div class='progress-msg'>[14:26:30] Associate post `BB-132` with current import ...</div>
<div class='progress-msg'>[14:26:30] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[14:26:30] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:30] - Custom field `usage_limit_per_user` will be updated with value `0` for post `BB-132` ...</div>
<div class='progress-msg'>[14:26:30] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:30] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:30] - Custom field `usage_limit` will be updated with value `0` for post `BB-132` ...</div>
<div class='progress-msg'>[14:26:30] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:30] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:30] - Custom field `discount_type` will be updated with value `percent` for post `BB-132` ...</div>
<div class='progress-msg'>[14:26:30] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:30] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:30] - Custom field `expiry_date` will be updated with value `2019-07-23` for post `BB-132` ...</div>
<div class='progress-msg'>[14:26:30] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:30] <b>IMAGES:</b></div>
<div class='progress-msg'>[14:26:30] <b>CREATED</b> `BB-132` `Kupon` (ID: 6498)</div>
<div class='progress-msg'>[14:26:30] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[14:26:30] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[14:26:30] ---</div>
<div class='progress-msg'>[14:26:30] Record #24</div>
<div class='progress-msg'>[14:26:30] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[14:26:30] Combine all data for post `BB-134`...</div>
<div class='progress-msg'>[14:26:30] Find corresponding article among previously imported for post `BB-134`...</div>
<div class='progress-msg'>[14:26:30] Duplicate post wasn't found with unique key `BB-134`...</div>
<div class='progress-msg'>[14:26:30] Applying filter `pmxi_article_data` for `BB-134`</div>
<div class='progress-msg'>[14:26:30] <b>CREATING</b> `BB-134` `Kupon`</div>
<div class='progress-msg'>[14:26:30] Associate post `BB-134` with current import ...</div>
<div class='progress-msg'>[14:26:30] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[14:26:30] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:30] - Custom field `usage_limit_per_user` will be updated with value `0` for post `BB-134` ...</div>
<div class='progress-msg'>[14:26:30] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:30] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:30] - Custom field `usage_limit` will be updated with value `0` for post `BB-134` ...</div>
<div class='progress-msg'>[14:26:30] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:30] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:30] - Custom field `discount_type` will be updated with value `percent` for post `BB-134` ...</div>
<div class='progress-msg'>[14:26:30] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:30] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:30] - Custom field `expiry_date` will be updated with value `2019-07-23` for post `BB-134` ...</div>
<div class='progress-msg'>[14:26:30] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:30] <b>IMAGES:</b></div>
<div class='progress-msg'>[14:26:30] <b>CREATED</b> `BB-134` `Kupon` (ID: 6499)</div>
<div class='progress-msg'>[14:26:30] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[14:26:30] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[14:26:30] ---</div>
<div class='progress-msg'>[14:26:30] Record #25</div>
<div class='progress-msg'>[14:26:30] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[14:26:30] Combine all data for post `Marta`...</div>
<div class='progress-msg'>[14:26:30] Find corresponding article among previously imported for post `Marta`...</div>
<div class='progress-msg'>[14:26:30] Duplicate post wasn't found with unique key `Marta`...</div>
<div class='progress-msg'>[14:26:30] Applying filter `pmxi_article_data` for `Marta`</div>
<div class='progress-msg'>[14:26:30] <b>CREATING</b> `Marta` `Kupon`</div>
<div class='progress-msg'>[14:26:30] Associate post `Marta` with current import ...</div>
<div class='progress-msg'>[14:26:30] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[14:26:30] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:30] - Custom field `usage_limit_per_user` will be updated with value `1` for post `Marta` ...</div>
<div class='progress-msg'>[14:26:30] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:30] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:30] - Custom field `usage_limit` will be updated with value `1` for post `Marta` ...</div>
<div class='progress-msg'>[14:26:30] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:30] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:30] - Custom field `discount_type` will be updated with value `percent` for post `Marta` ...</div>
<div class='progress-msg'>[14:26:30] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:30] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:30] - Custom field `expiry_date` will be updated with value `2019-07-14` for post `Marta` ...</div>
<div class='progress-msg'>[14:26:30] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:30] <b>IMAGES:</b></div>
<div class='progress-msg'>[14:26:30] <b>CREATED</b> `Marta` `Kupon` (ID: 6500)</div>
<div class='progress-msg'>[14:26:30] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[14:26:30] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[14:26:30] ---</div>
<div class='progress-msg'>[14:26:30] Record #26</div>
<div class='progress-msg'>[14:26:30] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[14:26:30] Combine all data for post `BB-127`...</div>
<div class='progress-msg'>[14:26:30] Find corresponding article among previously imported for post `BB-127`...</div>
<div class='progress-msg'>[14:26:30] Duplicate post wasn't found with unique key `BB-127`...</div>
<div class='progress-msg'>[14:26:30] Applying filter `pmxi_article_data` for `BB-127`</div>
<div class='progress-msg'>[14:26:30] <b>CREATING</b> `BB-127` `Kupon`</div>
<div class='progress-msg'>[14:26:30] Associate post `BB-127` with current import ...</div>
<div class='progress-msg'>[14:26:30] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[14:26:30] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:30] - Custom field `usage_limit_per_user` will be updated with value `0` for post `BB-127` ...</div>
<div class='progress-msg'>[14:26:30] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:30] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:30] - Custom field `usage_limit` will be updated with value `0` for post `BB-127` ...</div>
<div class='progress-msg'>[14:26:30] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:30] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:30] - Custom field `discount_type` will be updated with value `percent` for post `BB-127` ...</div>
<div class='progress-msg'>[14:26:30] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:30] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:30] - Custom field `expiry_date` will be updated with value `2019-07-31` for post `BB-127` ...</div>
<div class='progress-msg'>[14:26:30] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:30] <b>IMAGES:</b></div>
<div class='progress-msg'>[14:26:30] <b>CREATED</b> `BB-127` `Kupon` (ID: 6501)</div>
<div class='progress-msg'>[14:26:30] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[14:26:30] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[14:26:30] ---</div>
<div class='progress-msg'>[14:26:30] Record #27</div>
<div class='progress-msg'>[14:26:30] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[14:26:30] Combine all data for post `f0dcb61fb2`...</div>
<div class='progress-msg'>[14:26:30] Find corresponding article among previously imported for post `f0dcb61fb2`...</div>
<div class='progress-msg'>[14:26:30] Duplicate post wasn't found with unique key `f0dcb61fb2`...</div>
<div class='progress-msg'>[14:26:30] Applying filter `pmxi_article_data` for `f0dcb61fb2`</div>
<div class='progress-msg'>[14:26:30] <b>CREATING</b> `f0dcb61fb2` `Kupon`</div>
<div class='progress-msg'>[14:26:30] Associate post `f0dcb61fb2` with current import ...</div>
<div class='progress-msg'>[14:26:30] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[14:26:30] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:30] - Custom field `usage_limit_per_user` will be updated with value `0` for post `f0dcb61fb2` ...</div>
<div class='progress-msg'>[14:26:30] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:30] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:30] - Custom field `usage_limit` will be updated with value `0` for post `f0dcb61fb2` ...</div>
<div class='progress-msg'>[14:26:30] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:30] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:30] - Custom field `discount_type` will be updated with value `percent` for post `f0dcb61fb2` ...</div>
<div class='progress-msg'>[14:26:30] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:30] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:30] - Custom field `expiry_date` will be updated with value `2019-07-31` for post `f0dcb61fb2` ...</div>
<div class='progress-msg'>[14:26:30] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:30] <b>IMAGES:</b></div>
<div class='progress-msg'>[14:26:30] <b>CREATED</b> `f0dcb61fb2` `Kupon` (ID: 6502)</div>
<div class='progress-msg'>[14:26:30] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[14:26:30] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[14:26:30] ---</div>
<div class='progress-msg'>[14:26:30] Record #28</div>
<div class='progress-msg'>[14:26:30] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[14:26:30] Combine all data for post `Rabat`...</div>
<div class='progress-msg'>[14:26:30] Find corresponding article among previously imported for post `Rabat`...</div>
<div class='progress-msg'>[14:26:30] Duplicate post wasn't found with unique key `Rabat`...</div>
<div class='progress-msg'>[14:26:30] Applying filter `pmxi_article_data` for `Rabat`</div>
<div class='progress-msg'>[14:26:30] <b>CREATING</b> `Rabat` `Kupon`</div>
<div class='progress-msg'>[14:26:30] Associate post `Rabat` with current import ...</div>
<div class='progress-msg'>[14:26:30] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[14:26:30] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:30] - Custom field `usage_limit_per_user` will be updated with value `0` for post `Rabat` ...</div>
<div class='progress-msg'>[14:26:30] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:30] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:30] - Custom field `usage_limit` will be updated with value `0` for post `Rabat` ...</div>
<div class='progress-msg'>[14:26:30] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:30] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:30] - Custom field `discount_type` will be updated with value `percent` for post `Rabat` ...</div>
<div class='progress-msg'>[14:26:30] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:30] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:30] - Custom field `expiry_date` will be updated with value `2019-12-31` for post `Rabat` ...</div>
<div class='progress-msg'>[14:26:30] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:30] <b>IMAGES:</b></div>
<div class='progress-msg'>[14:26:30] <b>CREATED</b> `Rabat` `Kupon` (ID: 6503)</div>
<div class='progress-msg'>[14:26:30] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[14:26:30] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[14:26:30] ---</div>
<div class='progress-msg'>[14:26:30] Record #29</div>
<div class='progress-msg'>[14:26:30] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[14:26:30] Combine all data for post `LOVE`...</div>
<div class='progress-msg'>[14:26:30] Find corresponding article among previously imported for post `LOVE`...</div>
<div class='progress-msg'>[14:26:30] Duplicate post wasn't found with unique key `LOVE`...</div>
<div class='progress-msg'>[14:26:30] Applying filter `pmxi_article_data` for `LOVE`</div>
<div class='progress-msg'>[14:26:30] <b>CREATING</b> `LOVE` `Kupon`</div>
<div class='progress-msg'>[14:26:30] Associate post `LOVE` with current import ...</div>
<div class='progress-msg'>[14:26:30] <b>CUSTOM FIELDS:</b></div>
<div class='progress-msg'>[14:26:30] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:30] - Custom field `usage_limit_per_user` will be updated with value `0` for post `LOVE` ...</div>
<div class='progress-msg'>[14:26:30] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:30] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:30] - Custom field `usage_limit` will be updated with value `0` for post `LOVE` ...</div>
<div class='progress-msg'>[14:26:30] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:30] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:30] - Custom field `discount_type` will be updated with value `percent` for post `LOVE` ...</div>
<div class='progress-msg'>[14:26:30] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:30] - <b>ACTION</b>: pmxi_custom_field</div>
<div class='progress-msg'>[14:26:30] - Custom field `expiry_date` will be updated with value `2019-12-31` for post `LOVE` ...</div>
<div class='progress-msg'>[14:26:30] - <b>ACTION</b>: pmxi_update_post_meta</div>
<div class='progress-msg'>[14:26:30] <b>IMAGES:</b></div>
<div class='progress-msg'>[14:26:30] <b>CREATED</b> `LOVE` `Kupon` (ID: 6504)</div>
<div class='progress-msg'>[14:26:30] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[14:26:30] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[14:26:30] Cleaning temporary data...</div>
