.modal .modal-dialog.modal-full-width {
  width: 100% !important;
  max-width: 100% !important;
  margin: 0 !important;
  left: 0 !important;
  right: 0 !important;
}

.modal .modal-content {
  border: 0;
  border-radius: 3px;
}

.modal.fade.modal-top-left .modal-dialog {
  width: 100%;
  position: absolute;
  top: 0;
}

@media (min-width: 576px) {
  .modal.fade.modal-top-left .modal-dialog {
    left: 1.75rem;
    margin: 1.75rem auto;
  }
}

@media (max-width: 767.98px) {
  .modal.fade.modal-top-left .modal-dialog {
    width: calc(100% - (0.5rem * 2));
  }
}

.modal.fade.modal-top-right .modal-dialog {
  width: 100%;
  position: absolute;
  top: 0;
}

@media (min-width: 576px) {
  .modal.fade.modal-top-right .modal-dialog {
    right: 1.75rem;
    margin: 1.75rem auto;
  }
}

@media (max-width: 767.98px) {
  .modal.fade.modal-top-right .modal-dialog {
    width: calc(100% - (0.5rem * 2));
  }
}

.modal.fade.modal-bottom-right .modal-dialog {
  width: 100%;
  position: absolute;
  bottom: 0;
}

@media (min-width: 576px) {
  .modal.fade.modal-bottom-right .modal-dialog {
    right: 1.75rem;
    margin: 1.75rem auto;
  }
}

@media (max-width: 767.98px) {
  .modal.fade.modal-bottom-right .modal-dialog {
    width: calc(100% - (0.5rem * 2));
  }
}

.modal.fade.modal-bottom-left .modal-dialog {
  width: 100%;
  position: absolute;
  bottom: 0;
}

@media (min-width: 576px) {
  .modal.fade.modal-bottom-left .modal-dialog {
    left: 1.75rem;
    margin: 1.75rem auto;
  }
}

@media (max-width: 767.98px) {
  .modal.fade.modal-bottom-left .modal-dialog {
    width: calc(100% - (0.5rem * 2));
  }
}

.modal.fade.modal-bottom-center .modal-dialog {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

@media (min-width: 576px) {
  .modal.fade.modal-bottom-center .modal-dialog {
    margin: 1.75rem auto;
  }
}

@media (max-width: 767.98px) {
  .modal.fade.modal-bottom-center .modal-dialog {
    width: calc(100% - (0.5rem * 2));
  }
}

.modal .close.size-sm {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  right: 0.5rem;
  top: 0.5rem;
}

.modal .close.close-pinned {
  top: -19px;
  right: -19px;
}

.modal[data-popup="true"] {
  position: relative;
  top: unset;
  left: unset;
  right: unset;
  bottom: unset;
  width: unset;
  height: unset;
}

.modal[data-popup="true"].fade.modal-top-left .modal-dialog,
.modal[data-popup="true"].fade.modal-top-right .modal-dialog,
.modal[data-popup="true"].fade.modal-bottom-right .modal-dialog,
.modal[data-popup="true"].fade.modal-bottom-left .modal-dialog,
.modal[data-popup="true"].fade.modal-bottom-center .modal-dialog {
  position: fixed;
}

.modal[data-popup="true"].fade .modal-content {
  -webkit-box-shadow: 0 20px 60px -2px rgba(18, 21, 35, 0.19);
          box-shadow: 0 20px 60px -2px rgba(18, 21, 35, 0.19);
}

.body-scrollable {
  overflow: unset;
  padding-right: unset !important;
}

.body-scrollable .modal-backdrop {
  display: none;
  z-index: 99999 !important;
}

.modal-backdrop {
  background: #2d343a;
  z-index: 99999 !important;
}

/*Bigger CTA Style Button*/
.btn-cta {
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 15px 20px;
  font-size: 0.8rem;
  font-weight: 600;
}

/*Alert styles*/
.event-type {
  border: 3px solid #e0e6ed;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.event-type .event-indicator {
  -webkit-transition: all cubic-bezier(0, 0.89, 0.44, 1) 0.2s;
  transition: all cubic-bezier(0, 0.89, 0.44, 1) 0.2s;
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

/*Overlay for images*/
.modal .overlay {
  background-color: rgba(0, 0, 0, 0.35);
}

.modal .overlay-light {
  background-color: rgba(0, 0, 0, 0.15);
}

/*Negative margins for creating pull effect */
.modal .pull-up-lg {
  margin-top: -70px;
}

.modal .pull-up-sm {
  /*margin-top: -35px;*/
}

.modal .border-thick {
  border-width: 0.3rem !important;
}

.bg-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.pointer-events-none {
  pointer-events: none;
}

/*Height utilities*/
.m-h-10 {
  min-height: 10vh;
}

.m-h-20 {
  min-height: 20vh;
}

.m-h-30 {
  min-height: 30vh;
}

.m-h-40 {
  min-height: 40vh;
}

.m-h-50 {
  min-height: 50vh;
}

.m-h-60 {
  min-height: 60vh;
}

.m-h-70 {
  min-height: 70vh;
}

.m-h-80 {
  min-height: 80vh;
}

.m-h-90 {
  min-height: 90vh;
}

.m-h-100 {
  min-height: 100vh;
}

.modal-open {
  overflow: auto;
}

.modal {
  padding: 0 !important;
}

.modal-popup .modal-content {
  -webkit-transition: 0.64s ease-in-out;
  transition: 0.64s ease-in-out;
  border-radius: 45px;
  position: relative;
}

@media (max-width: 1000px) {
  .modal-popup .modal-content .wrapp-content-text-popup {
    text-align: center;
  }
}

.modal-popup .modal-content a {
  color: var(--glowny);
}

.modal-popup .modal-content h1,
.modal-popup .modal-content h2 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 25px;
}

@media (max-width: 1000px) {
  .modal-popup .modal-content h1,
  .modal-popup .modal-content h2 {
    font-size: 20px;
    margin-bottom: 15px;
  }
}

.modal-popup .modal-content .buttons-popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
  font-size: 22px;
  font-weight: 700;
  color: #808891;
}

@media (max-width: 1000px) {
  .modal-popup .modal-content .buttons-popup {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.modal-popup .modal-content .buttons-popup p {
  text-decoration: line-through;
}

.modal-popup .modal-content .buttons-popup p,
.modal-popup .modal-content .buttons-popup a {
  width: auto;
  margin: 0;
}

.modal-popup .modal-content .buttons-popup a {
  text-decoration: none;
}

.modal-popup .modal-content .buttons-popup .pref-price-popup {
  padding: 5px 10px;
  background-color: var(--glowny);
  color: white;
  display: block;
  margin: 0 10px;
  border-radius: 5px;
  font-size: 24px;
  text-decoration: none;
}

.modal-popup .modal-content .buttons-popup .pref-price-popup .fa-shopping-cart:before {
  font-size: 24px;
}

.modal-popup .modal-content .close {
  width: 50px;
  height: 50px;
  font-size: 40px !important;
  border-radius: 100%;
  background-color: #e5b101;
  z-index: 4;
  color: #fff;
  line-height: 3rem;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  border: 4px solid #e5b101;
  opacity: 1;
  position: absolute;
  right: -10px;
  top: -10px;
}

.modal-popup .modal-content .row {
  overflow: hidden;
}

.modal-popup .modal-content .img-wrapper-popup img {
  border-top-left-radius: 45px;
  border-bottom-left-radius: 45px;
}

@media (max-width: 1000px) {
  .modal-popup .modal-content .img-wrapper-popup {
    text-align: center;
  }
  .modal-popup .modal-content .img-wrapper-popup img {
    max-height: 400px;
    margin: 0 auto;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
}

@media (min-width: 992px) {
  .modal-lg,
  .modal-xl {
    max-width: 750px;
  }
}
/*# sourceMappingURL=lunar.css.map */