/*
	Theme Name: Bathbee-theme
	Theme URI: Bathbee-theme
	Description: Bathbee-theme
	Version: 9.9.9
	Author: Bathbee-theme
	Author URI: Bathbee-theme
	Tags: Blank, HTML5, CSS3

*/

/*------------------------------------*\
    MAIN
\*------------------------------------*/

/* global box-sizing */
*,
*:after,
*:before {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* html element 62.5% font-size for REM use */
html {
  font-size: 62.5%;
}

body {
  font: 300 16px/1.4 "Roboto", Helvetica, Arial, sans-serif;
  font-family: "Roboto";
  color: #444;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  color: #444;
  text-decoration: none;
}

a:hover {
  color: #444;
}

a:focus {
  outline: 0;
}

a:hover,
a:active {
  outline: 0;
}

input:focus {
  outline: 0;
  border: 1px solid #04a4cc;
}

/*------------------------------------*\
    STRUCTURE
\*------------------------------------*/

/* wrapper */
.wrapper {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

::selection {
  background: #04a4cc;
  color: #fff;
  text-shadow: none;
}

::-webkit-selection {
  background: #04a4cc;
  color: #fff;
  text-shadow: none;
}

::-moz-selection {
  background: #04a4cc;
  color: #fff;
  text-shadow: none;
}

/*------------------------------------*\
    WORDPRESS CORE
\*------------------------------------*/

.alignnone {
  margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

a img.alignnone {
  margin: 5px 20px 20px 0;
}

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  padding: 5px 3px 10px;
  text-align: center;
}

.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}

.wp-caption .wp-caption-text,
.gallery-caption {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}

.sticky {
}

.bypostauthor {
}

/*------------------------------------*\
    PRINT
\*------------------------------------*/

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

body {
  background: white;
  font-family: "Roboto";
  font-size: 16px;
}

.container {
  display: flex;
  text-align: center;
}

.product {
  list-style: none;
  text-align: center;
}

.alltaxonomy div span {
  padding: 3px;
}

/*koszyk zamowienie*/

.woocommerce-checkout table.cart img {
  width: 50%;
}

.woocommerce-checkout .col-md-6 {
  width: 49%;
}

.woocommerce-checkout .row {
  display: flex;
  justify-content: space-between;
}

html .woocommerce #customer_details .col-1,
html .woocommerce #customer_details .col-2 {
  max-width: 100%;
}

.woocommerce form .form-row {
  padding: 0px;
}

.woocommerce-additional-fields__field-wrapper {
  margin-top: 15px;
}

.woocommerce form .form-row input.input-text,
.woocommerce form .form-row textarea,
input {
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 5px;
  height: auto;
  display: inline-block;
  z-index: 10;
  font-size: 16px;
  border-radius: 4px;
  outline: 0;
  padding: 6px;
  min-height: 35px;
  font-weight: 400;
}

#customer_details {
  background-color: #fff;
  border: 1px solid #d5d5d5;
  border-radius: 0;
  padding: 10px 28px;
  margin: 30px 0;
}

:root {
  --glowny: #e4a707;
  --szarykolor: #8080801a;
  --czerwony: #d5011f;
  --zielony: var(--glowny);
}

* {
  box-sizing: border-box;
}

a {
  transition: 0.5s;
}

a:hover {
  color: var(--glowny);
}

.header {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  -webkit-box-shadow: 0 10px 10px -8px rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 10px -8px rgba(0, 0, 0, 0.1);
  max-width: 1920px;
}

.logo {
  max-width: 80px;
  padding: 10px;
}

.logo {
  position: relative;
}
.logo::after {
  content: "";
  position: absolute;
  right: -10px;
  top: 3px;
  height: 90%;
  width: 1px;
  background: #ededed;
}

.featured-text {
  display: flex;
  align-items: center;
  font-size: 13px;
  justify-content: flex-end;
}

.koszyk * {
  padding: 5px;
  transition: 0.5s;
}

.koszyk:hover .dropdown-menu.dropdown-menu-mini-cart {
  display: block;
  transition: 0.5s;
}

.koszyk {
  transition: all 0.5s;
  display: flex;
  width: 100px;
  height: 50px;
  justify-content: center;
  align-items: center;
  position: relative;
}

.dropdown-menu.dropdown-menu-mini-cart {
  position: absolute;
  right: 0;
  display: none;
  transition: 0.5s;
  box-shadow: 1px 1px 20px #8080801e;
  background: white;
  text-align: center;
  list-style: none;
}

.woocommerce-mini-cart-item.mini_cart_item {
  list-style: none;
}

.woocommerce-mini-cart-item.mini_cart_item,
.woocommerce-mini-cart-item.mini_cart_item a {
  display: flex;
  align-items: center;
  padding: 3px;
  margin: 0;
  justify-content: space-between;
}

.dropdown-menu.dropdown-menu-mini-cart img {
  max-width: 50px;
  object-fit: contain;
  max-height: 50px;
  text-align: center;
}

.headmenu nav ul {
  list-style: none;
  display: flex;
  width: 100%;
  padding: 0;
  justify-content: center;
  font-size: 15px;
}

.headmenu nav li {
  padding: 0px 20px;
  text-align: center;
}

.headmenu nav li a {
  display: block;
}

.dgwt-wcas-no-submit
  .dgwt-wcas-sf-wrapp
  input[type="search"].dgwt-wcas-search-input {
  padding: 0px 15px 0px 40px;
}

.promo {
  background: #dac3bd2e;
  width: 100%;
  text-align: center;
  padding: 10px;
  font-size: 13px;
  text-transform: uppercase;
}

.add_to_cart_button,
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce-mini-cart__buttons.buttons a,
button,
.button.product_type_variable {
  display: block;
  padding: 10px 1px 10px 1px;
  font-size: 13px;
  line-height: 12px;
  font-weight: normal;
  color: #fff;
  background: var(--glowny);
  border-bottom: none;
  border-radius: 5px;
  max-width: 200px;
  box-sizing: border-box;
  border: 1px solid transparent;
}

.button.product_type_variable {
  background: var(--zolty);
}

.woocommerce-cart-form__cart-item.cart_item .product-thumbnail {
  width: 20%;
}

.woocommerce-cart-form__cart-item.cart_item .product-thumbnail img {
  width: 100%;
}

.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
  margin: 0 auto;
  min-width: 150px;
}

.add_to_cart_button:hover {
  background: white;
  border: 1px solid var(--glowny);
  box-sizing: border-box;
}

.woocommerce-mini-cart__buttons.buttons a {
  width: 40%;
  display: inline-block;
  margin: 10px;
}

.woocommerce #content table.cart td.actions .input-text,
.woocommerce table.cart td.actions .input-text,
.woocommerce-page #content table.cart td.actions .input-text,
.woocommerce-page table.cart td.actions .input-text {
  max-width: 150px;
  width: auto;
}

.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
  background-color: #d5011f;
  font-size: 18px;
  font-weight: 700;
  width: 100%;
  display: block;
  max-width: 100%;
  margin: 0;
  padding: 20px;
}

.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover {
  border: 1px solid var(--czerwony);
  color: var(--czerwony);
  background: white;
}

.woocommerce button.button.alt {
  display: block;
}

.form-row.place-order {
  flex-wrap: wrap;
}

.woocommerce-page table.cart td.actions .coupon {
  width: 66%;
}

.woocommerce-page table.cart td.actions button {
  width: 33%;
  display: block;
  max-width: 100%;
}

.woocommerce a.remove,
.remove_from_cart_button {
  z-index: 9;
  cursor: pointer;
  background-color: #d5d5d5;
  border-radius: 5px;
  color: white !important;
  width: 20px;
  height: 20px;
  text-align: center;
  justify-content: center;
  line-height: 20px;
}

.woocommerce form .form-row label,
.woocommerce-page form .form-row label {
  display: inline;
  font-weight: 600;
  padding-right: 10px;
}

.woocommerce form .form-row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.woocommerce-page form .form-row-first,
.woocommerce-page form .form-row-last {
  width: 100%;
}

.woocommerce form .form-row input.input-text,
.select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  width: 270px;
}

.woocommerce-checkout h3 {
  font-size: 20px;
  border-bottom: 1px solid var(--szarykolor);
  padding-bottom: 10px;
}

.woocommerce-checkout #order_review_heading {
  padding-left: 25px;
}

.woocommerce-additional-fields label {
  display: block;
  width: 100%;
}

.woocommerce-additional-fields .woocommerce-input-wrapper {
  width: 100%;
  display: block;
}

.form-row.notes {
  flex-wrap: wrap;
}

.widget_shopping_cart_content
  .woocommerce-mini-cart-item.mini_cart_item
  .remove {
  order: 4;
  justify-content: center;
}

.dropdown-back {
  position: relative;
}

.cart-items-count.count {
  position: absolute;
  left: 13px;
  top: -12px;
  background-color: #dd0017;
  border-radius: 50%;
  color: #fff !important;
  height: 15px;
  width: 15px;
  line-height: 5px;
  font-size: 10px;
  text-align: center;
  font-weight: 400;
  z-index: 9;
}

.fa-shopping-cart:before {
  font-size: 16px;
}

.koszyk {
  border-top: 5px solid transparent;
}

.headfeaturedimage {
  width: 100%;
  padding: 10px 0;
}

.headfeaturedimage img {
  width: 100%;
  height: 100%;
}

.container {
  flex-wrap: wrap;
}

.alltaxonomy div {
  display: flex;
  align-items: center;
}

.alltaxonomy ul {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0;
}

.alltaxonomy ul div {
  padding: 20px;
}

.results {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.results .product {
  width: 30%;
  margin: 10px;
}

.results img {
  margin: 0 auto;
}

.slick-prev::before,
.slick-next::before {
  color: var(--glowny) !important;
}

.woocommerce-mini-cart__total.total {
  text-align: left;
  padding-left: 10px;
}

.dropdown-menu.dropdown-menu-mini-cart {
  -webkit-box-shadow: 3px 3px 3px 1px rgba(150, 150, 150, 0.2);
  box-shadow: 3px 3px 3px 1px rgba(150, 150, 150, 0.2);
  border: 1px solid #e4e4e4;
}

.woocommerce-mini-cart__total.total,
.woocommerce-mini-cart__buttons.buttons {
  margin: 0;
  z-index: 999;
}

.featuredcategory {
  width: 100%;
}

.featuredcategory img {
  margin: 0 auto;
}

.results img {
  height: auto;
}

.results li h2,
.titleincart {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  font-size: 15px;
  line-height: 15px;
}

.titleincart {
  font-size: 13px;
  max-width: 200px;
}

.koszyk:hover {
  transition: 0.5s;
}

.koszyk:hover .dropdown-menu.dropdown-menu-mini-cart {
  display: block;
}

.dropdown-menu.dropdown-menu-mini-cart {
  margin: 10px 0;
  z-index: 999999999;
}

.dropdown-menu.dropdown-menu-mini-cart {
  background: white;
  color: #585e61;
  padding: 0;
  border-radius: 8px;
}

.dropdown-menu.dropdown-menu-mini-cart a {
  color: black;
}

.dropdown-menu.dropdown-menu-mini-cart .button {
  color: white;
}

.dropdown-menu.dropdown-menu-mini-cart::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  top: -8px;
  right: 44px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background: white;
  border: 1px solid #e4e4e4;
  border-left: 0;
  border-bottom: 0;
}

.dropdown-menu.dropdown-menu-mini-cart {
  font-size: 16px;
}

.woocommerce-mini-cart__buttons.buttons a {
  width: 100%;
  background-color: #d5011f;
}

.woocommerce-mini-cart__total.total {
  text-align: center;
  border-top: 1px solid #ffffff1a;
  padding: 10px 0 0;
}

.titleincart {
  display: block;
  width: 100%;
  text-align: left;
  margin: 0;
}

.dropdown-menu.dropdown-menu-mini-cart img {
  display: block;
}

.itemincart {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  // min-width: 200px;
  // max-width: 200px;
}

.titleincart {
  padding-left: 0;
}

/*checkboxy stronaglowna */

.alltaxonomy ul {
  list-style-type: none;
}

/* .alltaxonomy li {
  display: flex;
} */
.alltaxonomy ul {
  display: flex;
  flex-wrap: wrap;
}

.alltaxonomy ul li {
  width: 50%;
}

.alltaxonomy input[type="checkbox"] {
  display: none;
}

.alltaxonomy label {
  border: 1px solid #fff;
  padding: 10px;
  display: block;
  position: relative;
  margin: 10px;
  cursor: pointer;
}

.alltaxonomy label::before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid var(--glowny);
  position: absolute;
  top: -10px;
  left: -10px;
  width: 45px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  transition-duration: 0.4s;
  transform: scale(0);
  z-index: 9;
  font-size: 25px;
}

.alltaxonomy li:hover label::before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid var(--glowny);
  position: absolute;
  top: -10px;
  left: -10px;
  width: 45px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  transition-duration: 0.4s;
  transform: scale(0);
  z-index: 9;
  font-size: 25px;
  content: "✓";
  background-color: var(--glowny);
  transform: scale(1);
}

.alltaxonomy li:hover img {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  opacity: 1;
}

.alltaxonomy li:hover label {
  border-color: #ddd;
}

.alltaxonomy label img {
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}

.alltaxonomy :checked + label {
  border-color: #ddd;
}

.alltaxonomy :checked + label:before {
  content: "✓";
  background-color: var(--glowny);
  transform: scale(1);
}

.alltaxonomy :checked + label img {
  transform: scale(0.9);
  box-shadow: 0 0 20px #808080d9;
  z-index: -1;
  -webkit-filter: grayscale(0%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
  opacity: 0.9;
}

.alltaxonomy label img {
  z-index: -1;
  object-fit: cover;
  position: relative;
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  -webkit-filter: grayscale(80%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(80%);
  opacity: 0.7;
}

.nazwafiltra {
  padding: 0;
  margin: 0;
  font-size: 25px;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: 500;
  text-shadow: 2px 2px 20px black;
  visibility: visible;
  opacity: 1;
  transition: visibility 0.6s, opacity 0.5s linear;
}

.alltaxonomy li:hover .nazwafiltra {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.6s, opacity 0.5s linear;
}

/*koniec checkboxy stronaglowna */

.okazja {
  font-size: 25px;
  margin: 0 auto;
  padding: 25px;
}

.okazja {
  line-height: 25px;
  text-align: center;
}

.okazja {
  display: inline-block;
  position: relative;
}

.okazja:before,
.okazja:after {
  content: "";
  position: absolute;
  height: 25px;
  border-top: 1px solid #8080801a;
  top: 40px;
  width: 60%;
}

.okazja:before {
  right: 100%;
  margin-right: 15px;
}

.okazja:after {
  left: 100%;
  margin-left: 15px;
}

.featuredcategory,
.results {
  margin: 30px 0;
}

.promo p {
  margin: 0;
}

.woocommerce ul.cart_list li a,
.woocommerce ul.product_list_widget li a {
  display: flex;
}

.pricewithtitle {
  display: flex;
  text-align: right;
  padding: 0;
  margin: 0;
}

.pricewithtitle del {
  font-size: 10px;
  padding: 2px 4px 2px 0;
}

.pricewithtitle ins {
  text-decoration: none;
}

li.product .add_to_cart_button,
li.product .button.product_type_variable {
  width: 100%;
  max-width: 100%;
}

.bannerpromo {
  margin: 20px auto;
}

.woocommerce .woocommerce-breadcrumb {
  margin: 10px 0;
}

.products-header__title.page-title::before,
section h1::before,
.woocommerce-checkout h3:before,
.footer__item.footer__item--heading::before {
  content: "";
  width: 15px;
  height: 15px;
  background: var(--glowny);
  display: inline-block;
  margin-right: 5px;
  border-radius: 50%;
}

.alltaxonomy.archive-all-cookie ul {
  margin: 0;
}

.alltaxonomy.archive-all-cookie ul div {
  padding: 0;
}

.alltaxonomy.archive-all-cookie label::before {
  height: 20px;
  width: 20px;
  font-size: 15px;
  line-height: 15px;
}

.alltaxonomy.archive-all-cookie label:hover {
  background: #f8f4f3;
}

.alltaxonomy.archive-all-cookie label span {
  text-transform: uppercase;
}

.results.archive-all-cookie .product a {
  margin: 0;
}

.results.archive-all-cookie .product {
  width: 20%;
}

.dgwt-wcas-search-wrapp {
  min-width: 100% !important;
}

.add_to_cart_button:hover {
  color: var(--glowny);
}

.add_to_cart_button {
  margin: 0;
}

.footer__wrapper {
  background: white;
  border-top: 1px solid #ccc;
}

.footer__row {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0 5px;
}

.footer__row.footer__row--right {
  width: 100%;
  text-align: center;
}

.footer__copyright {
  width: 100%;
  text-align: center;
  padding: 30px 0 5px;
}

.footer__row.footer__row--right .footer__column,
.footer__row.footer__row--right .footer__copyright.text.text--tiny {
  width: 100%;
}

.footer__column {
  width: 30%;
  list-style: none;
}

.footer__item.footer__item--heading {
  font-size: 15px;
  font-weight: 600;
}

.footer__link {
  padding-left: 15px;
}

/*SINGLE PRODUCT*/
.single-product button.button.alt {
  width: auto;
}

.woocommerce ul.products li.product .button {
  margin: 0;
}

.woocommerce div.product form.cart .variations,
.woocommerce-product-details__short-description ~ .cart {
  display: flex;
  justify-content: flex-start;
  text-align: left;
}

.woocommerce div.product .product_title,
.woocommerce-product-details__short-description {
  text-align: left;
}

.woocommerce div.product p.price,
.woocommerce div.product span.price {
  color: black;
  text-align: left;
}

/* button add to cart */
.woocommerce-variation-add-to-cart.variations_button.woocommerce-variation-add-to-cart-enabled,
.woocommerce-variation-add-to-cart.variations_button.woocommerce-variation-add-to-cart-disabled {
  display: flex;
  align-items: center;
}

/* .woocommerce-variation-add-to-cart.variations_button.woocommerce-variation-add-to-cart-disabled {
	background-color: #d5011f;
} */

.woocommerce #respond input#submit.alt.disabled,
.woocommerce #respond input#submit.alt.disabled:hover,
.woocommerce #respond input#submit.alt:disabled,
.woocommerce #respond input#submit.alt:disabled:hover,
.woocommerce #respond input#submit.alt:disabled[disabled],
.woocommerce #respond input#submit.alt:disabled[disabled]:hover,
.woocommerce a.button.alt.disabled,
.woocommerce a.button.alt.disabled:hover,
.woocommerce a.button.alt:disabled,
.woocommerce a.button.alt:disabled:hover,
.woocommerce a.button.alt:disabled[disabled],
.woocommerce a.button.alt:disabled[disabled]:hover,
.woocommerce button.button.alt.disabled,
.woocommerce button.button.alt.disabled:hover,
.woocommerce button.button.alt:disabled,
.woocommerce button.button.alt:disabled:hover,
.woocommerce button.button.alt:disabled[disabled],
.woocommerce button.button.alt:disabled[disabled]:hover,
.woocommerce input.button.alt.disabled,
.woocommerce input.button.alt.disabled:hover,
.woocommerce input.button.alt:disabled,
.woocommerce input.button.alt:disabled:hover,
.woocommerce input.button.alt:disabled[disabled],
.woocommerce input.button.alt:disabled[disabled]:hover {
  background-color: #d5011f;
}

.woocommerce-variation-add-to-cart input,
.single-product.woocommerce .quantity .qty {
  min-height: 55px;
}

.woocommerce div.product form.cart .button,
.single_add_to_cart_button.button.alt.disabled.wc-variation-selection-needed {
  width: 79%;
  font-size: 20px;
}

.product_meta {
  text-align: left;
}

.woocommerce ul.cart_list li img,
.woocommerce ul.product_list_widget li img {
  margin: 0;
  padding: 0;
  text-align: left;
}

/*KONIEC SINGLE PRODUCT*/
.pricewithtitle .price {
  display: flex;
  align-items: center;
}

.woocommerce button.button:disabled,
.woocommerce button.button:disabled[disabled] {
  padding: 10px 1px 10px 1px;
}

.childrencategory {
  display: block;
  width: 50%;
  position: relative;
}

.childrencategory img {
  border: 1rem solid transparent;
}

.childrencategory:hover img {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  opacity: 1;
  transition: all 750ms ease;
}

.childrencategory:hover img {
  border: 1rem solid var(--glowny);
}

.childrencategory img {
  -webkit-filter: grayscale(0%);
  filter: grayscale(5%);
  opacity: 0.5;
  transition-duration: 0.3s;
  transform-origin: 50% 50%;
}

.childrencategory {
  padding-top: 10px;
}

.childrencategory:nth-child(2n) {
  padding-left: 5px;
}

.childrencategory:nth-child(1n) {
  padding-right: 5px;
}

.childrencategory img {
  width: 100%;
  max-height: 350px;
  object-fit: cover;
}

select {
  height: 38px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}

.results.archive-all-cookie aside {
  width: 18%;
}

.woocommerce .woocommerce-ordering select {
  width: 100%;
  display: block;
}

.results-product-afterchildren {
  padding-left: 20px;
}

.results.archive-all-cookie .product {
  margin-top: 0;
}

.results.archive-all-cookie .results-product-afterchildren {
  width: 82%;
  display: flex;
}

.woo-variation-swatches-stylesheet-enabled
  .variable-items-wrapper
  .variable-item:not(.radio-variable-item) {
  padding: 1px !important;
  margin: 0 3px !important;
}

.wybierzkolor {
  display: block;
  width: 30px;
  height: 30px;
}

.results.archive-all-cookie aside {
  display: flex;
  flex-wrap: wrap;
}

.wybranekolory {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.wybranekolory .products-header__title {
  width: 100%;
}

.woocommerce-ordering ~ .products-header__title.page-title {
  font-weight: 600;
  font-size: 15px;
}

[data-select="selected"],
.wybierzkolor:hover {
  border: 2px solid;
}

[data-select="selected"]::before,
.wybierzkolor:hover::before {
  content: "✓";
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  line-height: 26px;
  font-size: 20px;
}

.woocommerce div.product form.cart .variations .variable-item {
  margin: 0 5px;
}

.single_variation_wrap {
  width: 100%;
}

.woocommerce div.product form.cart {
  flex-wrap: wrap;
}

.woocommerce form .form-row .select2-container {
  max-width: 270px;
}

.variations label {
  text-transform: uppercase;
}

a.reset_variations {
  display: none !important;
}

.variations tr,
.variations tr td {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 5px 0;
}

.woocommerce ul.products li.product .button {
  min-width: auto;
}

@media (min-width: 1000px) {
  .headmenu.sticky .menu {
    display: flex;
    align-items: center;
  }

  .headmenu.sticky .menu-mobile {
    width: 15%;
  }

  .headmenu.sticky .menu-mobile .logo {
    width: 60%;
    box-shadow: none;
  }

  .headmenu.sticky .menu-mobile::after {
    display: none;
  }

  .woocommerce-checkout .products.columns-4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .woocommerce-checkout .products.columns-4 .product {
    width: 48%;
    margin: 10px 0;
  }

  .woocommerce-checkout .products.columns-4::before,
  .woocommerce-checkout .products.columns-4::after {
    display: none !important;
  }
}

.dgwt-wcas-sf-wrapp input[type="search"].dgwt-wcas-search-input {
  font-size: 16px !important;
}

#showfilter {
  display: none;
}

#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 55px;
  -moz-border-radius: 55px;
  border-radius: 55px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.sticky {
  position: fixed;
  z-index: 9;
  background: white;
  max-width: 1080px;
  margin: 0 auto;
}

.headmenu.sticky {
  width: 95%;
}

.headmenu.sticky .menu-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headmenu.sticky .menu-mobile:after {
  margin: 18px 0 0 0;
}

.alltaxonomy {
  z-index: 0;
}

.headmenu.sticky .logo {
  width: 15%;
}

.headmenu.sticky .menu-mobile {
  padding: 0px 3px;
}

@media (max-width: 1000px) {
  select {
    font-size: 16px !important;
  }

  #showfilter {
    display: block;
    width: 100%;
    max-width: 100%;
    margin-bottom: 10px;
  }

  #showfilter ~ * {
    display: none;
  }

  .show {
    display: flex !important;
  }

  .woocommerce-ordering ~ .products-header__title.page-title {
    display: block;
    width: 100%;
  }

  .results.archive-all-cookie aside,
  .results.archive-all-cookie .results-product-afterchildren {
    width: 100%;
    padding: 10px 0;
  }

  .wybranekolory {
    justify-content: flex-start;
  }

  .wybierzkolor {
    margin: 0 7px 0 0px;
  }

  .logo {
    width: 25%;
  }

  .search {
    width: 75%;
  }

  .featured-text * {
    padding: 2px;
  }

  .featured-text {
    width: 100%;
    font-size: 10px;
    text-align: center;
    justify-content: space-between;
  }

  .okazja {
    overflow: hidden;
  }

  .alltaxonomy label {
    margin: 0;
    padding: 5px;
  }

  .nazwafiltra {
    font-size: 15px;
    margin: 0 auto;
    padding: 0;
  }

  ul div.nazwafiltra {
    padding: 0;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  ul div.nazwafiltra p {
    text-align: center;
    width: 100%;
  }

  .alltaxonomy label::before,
  .alltaxonomy li:hover label::before {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
  }

  .pricewithtitle {
    flex-wrap: wrap;
    text-align: center;
  }

  .pricewithtitle h2 {
    text-align: center;
    margin: 2px 0;
  }

  .pricewithtitle span.price {
    margin: 0 auto;
    padding: 0;
  }

  p.okazja {
    font-size: 20px;
    padding: 10px 2px;
  }

  .cart-items-count.count {
    font-size: 9px;
    line-height: 10px;
  }

  .koszyk {
    border: none;
  }

  .menu-mobile {
    padding: 20px 3px;
  }

  .results.archive-all-cookie .product {
    width: 43%;
  }

  .woocommerce a.button {
    min-width: 100%;
  }

  .results.archive-all-cookie {
    justify-content: center;
  }

  li.product h2 {
    text-align: center;
  }

  .alltaxonomy.archive-all-cookie ul div {
    padding: 5px;
  }

  .alltaxonomy ul {
    justify-content: flex-start;
  }

  .woocommerce-checkout .col-md-6 {
    width: 100%;
  }

  .woocommerce-checkout .row {
    flex-wrap: wrap;
  }

  .woocommerce #content table.cart .product-thumbnail,
  .woocommerce table.cart .product-thumbnail,
  .woocommerce-page #content table.cart .product-thumbnail,
  .woocommerce-page table.cart .product-thumbnail {
    display: block;
  }

  .woocommerce-cart-form__cart-item.cart_item .product-thumbnail {
    width: 100%;
  }

  .product-thumbnail img {
    max-width: 100px;
  }

  .woocommerce-cart-form__cart-item.cart_item .product-thumbnail:before {
    display: none;
  }

  .woocommerce-cart-form__cart-item.cart_item .product-remove a {
    margin-left: calc(100% - 20px);
  }

  .woocommerce-page table.cart td.actions .coupon {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .woocommerce #respond input#submit,
  .woocommerce a.button,
  .woocommerce button.button,
  .woocommerce input.button {
    margin: 0;
  }

  .woocommerce form .form-row label,
  .woocommerce-page form .form-row label {
    display: block;
    width: 100%;
    text-align: center;
  }

  .woocommerce form .form-row {
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer__column {
    width: 100%;
    text-align: center;
    padding: 0;
  }
}

.header {
  justify-content: space-between;
}

.wrapp-logo-menu {
  display: flex;
  align-items: center;
}

.primary-menu ul {
  display: flex;
  list-style: none;
  margin: 0;
  a {
    font-size: 14px;
    color: #000;
    font-family: "Roboto";
    font-weight: normal;
  }
}

.primary-menu ul li {
  padding: 10px;
}

header {
  font-size: 14px;
  color: #000;
  font-family: "Roboto";
  font-weight: normal;
  .sub-toggle {
    @media (min-width: 1000px) {
      display: none;
    }
  }
}

.front {
  min-height: 100vh;
}

.primary-menu ul .has-submenu {
  position: relative;
}

.primary-menu ul ul.sub-menu {
  position: absolute;
  display: block;
  background: white;
  padding: 0px 25px 0 0;
  margin: 0;
  min-width: 250px;
  top: 59px;
  border: 1px solid #80808042;
  height: auto !important;
  a {
    display: block;
    text-decoration: none;

    &:hover {
      padding-left: 10px;
      color: var(--glowny);
    }
  }
  &::before {
    transition: 0;
    content: "";
    height: 12px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 12px;
    background: white;
    position: absolute;
    top: -6px;
    left: 40px;
    margin: 0 auto;
    border-left: 1px solid #80808042;
    border-top: 1px solid #80808042;
  }
}

// .primary-menu ul ul.sub-menu

.primary-menu ul ul.sub-menu li {
  border-bottom: 1px solid #8080801f;
}

.primary-menu ul ul.sub-menu li:last-child {
  border-bottom: none;
}

.collapse-button {
  width: 35px;
  margin-left: auto;
}
.icon-bar {
  height: 3px;
  // width: 30px;
  background: black;
  display: block;
  margin: 3px;
}

.header {
  z-index: 99999 !important;
}

@media (max-width: 1000px) {
  .wrapp-logo-menu {
    width: 100%;
    justify-content: space-between;
    padding: 5px;
    align-content: center;
    align-items: center;
  }
  .primary-menu ul {
    display: block;
    position: absolute;
    left: 0;
    background: white;
    width: 100%;
    top: 85px;
    padding: 10px;
    z-index: 999999999;
  }
  .primary-menu ul ul.sub-menu {
    position: static;
  }

  .sub-toggle {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    text-align: center;
  }
  .primary-menu ul ul.sub-menu {
    border: 0;
  }
}

// .dropdown-menu.dropdown-menu-mini-cart a {
//   width: 60%;
// }

.dropdown-menu.dropdown-menu-mini-cart .quantity {
  width: 30%;
  text-align: right;
}

.widget_shopping_cart_content
  .woocommerce-mini-cart-item.mini_cart_item
  .remove {
  width: 20px;
}

.dropdown-menu.dropdown-menu-mini-cart {
  width: 400px;
  top: 35px;
  left: -300px;
}

.cart-items-count.count {
  position: absolute;
  left: 10px;
  top: -11px;
  background-color: white;
  border-radius: 50%;
  color: black !important;
  border: 1px solid var(--glowny);
  text-align: center;
  height: 20px;
  width: 20px;
  line-height: 9px;
  font-size: 12px;
  text-align: center;
  font-weight: 400;
  z-index: 9;
}

.woocommerce-mini-cart-item.mini_cart_item,
.woocommerce-mini-cart-item.mini_cart_item a {
  text-align: left;
  justify-content: flex-start;
}

.button {
  display: inline-block;
  margin: 0;
  font-size: 13px;
  color: #333;
  background-color: #efb34f;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 0;
  position: relative;
  text-decoration: none;
  border-radius: 5px;
  line-height: 1rem;
  padding: 10px 25px;
}

@media (max-width: 1000px) {
  .koszyk:hover .dropdown-menu.dropdown-menu-mini-cart {
    display: none;
  }
  .cart-items-count.count {
    left: 9px;
    top: -11px;
  }
  .featured-text {
    display: none;
  }
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.header {
  position: fixed;
  background: white;
  top: 0;
  z-index: 999999999;
}

.header + div {
  margin-top: 80px;
}

.hero-img {
  min-height: 400px;
  object-fit: cover;
}

html {
  margin-top: 0px !important;
}

body::before {
  content: "";
  background: url(http://localhost/bathbee-nowa-wersja-nowy-motyw/wp-content/uploads/2019/07/background-shapes.png);
  right: 0;
  top: 45vh;
  width: 50%;
  height: 70%;
  display: block;
  position: fixed;
  background-repeat: no-repeat;
  background-size: 80%;
}

.heading-caveat,
.heading-caveat-big {
  font-size: 28px;
  color: var(--glowny);
  line-height: 28px;
  text-align: center;
  font-family: "Caveat", cursive;
  font-weight: 400;
  font-weight: bold;
  margin-bottom: 0;
}

.heading-caveat-big {
  font-size: 50px;
  line-height: 45px;
}

.heading-roboto {
  text-transform: uppercase;
  padding: 20px 0;
  font-family: "Roboto Slab";
  font-size: 52px;
  color: #585e61;
  line-height: 1em;
  font-weight: 700;
  text-align: center;
  margin-bottom: 0;
  @media (max-width: 1000px) {
    font-size: 40px;
  }
}

.heading-roboto::after,
.after-zigzag::after {
  content: "";
  background: url(http://localhost/bathbee-nowa-wersja-nowy-motyw/wp-content/uploads/2019/07/line-1.png);
  display: block;
  width: 100px;
  height: 20px;
  background-repeat: no-repeat;
  margin: 20px auto 10px;
}

.heading-roboto-small {
  padding: 20px 20px 0 20px;
  font-family: "Roboto Slab";
  font-size: 24px;
  color: #585e61;
  line-height: 1em;
  font-weight: 700;
  text-align: center;
  margin-bottom: 0;
}

p {
  width: 100%;
}

.p-desc {
  text-align: justify;
  margin: 1em 0;
  font-size: 16px;
  font-family: "Roboto";
  color: #808891;
  line-height: 26px;
}

.home-about__box {
  padding: 20px;
  margin: auto;
  text-align: center;
  max-width: 700px;
}

li.productFeaturedFront .woocommerce-loop-product__title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 18px;
  font-family: "Roboto";
  font-weight: normal;
  font-style: normal;
  line-height: 26px;
  font-weight: 600;
  color: black;
}

li.productFeaturedFront {
  width: 33%;
  padding: 10px;
}

li.productFeaturedFront {
  a:hover {
    text-decoration: none;
  }
  &:hover img {
    opacity: 0.8;
  }
}

li.productFeaturedFront img {
  object-fit: contain;
}

.imgFeaturedProductFront {
  margin: auto;
  width: 100%;
  height: auto;
  border-radius: 25px;
}

@media (max-width: 1000px) {
  li.productFeaturedFront {
    width: 100%;
  }
}

.normal-text {
  font-size: 16px;
  font-family: "Roboto";
  color: #808891;
  line-height: 21px;
  font-weight: normal !important;
  &::after {
    display: none !important;
  }
}

.home-effect-container {
  margin: 100px auto;
  background: rgba(255, 255, 255, 0.671);
}

.home-effect__wrapper {
  img {
    margin-bottom: 15px;
  }
  padding: 20px 15px;
  border-right: 1px solid rgba(128, 128, 128, 0.2);
  &:nth-child(3),
  &:last-child {
    border: 0;
  }
  &:nth-child(4),
  &:nth-child(5) {
    border-top: 1px solid rgba(128, 128, 128, 0.2);
  }
  @media (max-width: 1000px) {
    & {
      border: 0;
    }
  }
  .normal-text {
    font-size: 14px;
  }
  p {
    font-family: "Roboto";
    font-weight: 900;
    color: #585e61;
    font-size: 17px;
    position: relative;
    &::after {
      content: "";
      background: url(http://localhost/bathbee-nowa-wersja-nowy-motyw/wp-content/uploads/2019/07/line-1.png);
      display: block;
      width: 100px;
      height: 20px;
      background-repeat: no-repeat;
      margin: 20px auto 10px;
      z-index: 9;
      background-position: center;
    }
  }
  ul {
    list-style: none;
    padding-left: 15px;
    li {
      text-align: left;
      padding-bottom: 10px;
      position: relative;
      &::before {
        content: "• ";
        color: var(--glowny);
        position: absolute;
        left: -16px;
        font-size: 32px;
        top: -12px;
      }
    }
  }
}

.home-components {
  margin: 50px auto;
  position: relative;
  z-index: 1;
  min-height: 650px;
  padding: 30px;
  margin-bottom: -20px;
  overflow: hidden;
  z-index: 9999 !important;
}
.home-components__subtitle {
  font-size: 26px;
  line-height: 1em;
  color: var(--glowny);
  font-family: "Caveat";
  font-weight: 700;
  font-style: normal;
  text-align: center;
}
.home-components__title {
  font-family: "Roboto Slab";
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 26px;
  text-align: center;
  color: #585e61;
}
.home-components__wrapper {
  position: relative;
  height: 1000px;
  width: 1000px;
  margin: auto;
}
@media only screen and (min-width: 767px) and (max-width: 1040px) {
  .home-components__wrapper {
    width: 700px;
    height: 870px;
  }
}
@media only screen and (max-width: 767px) {
  .home-components__wrapper {
    width: 280px;
    height: 490px;
  }
}
.home-components__description {
  margin-bottom: 20px;
  font-size: 16px;
  font-family: "Roboto";
  font-weight: normal;
  font-style: normal;
  color: #585e61;
  line-height: 26px;
  text-align: center;
  max-width: 1000px;
  margin-left: auto !important;
  margin-right: auto !important;
}
.home-components__box {
  visibility: hidden;
  opacity: 0;
  background: #fff;
  padding: 85px;
  height: 100%;
  width: 100%;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 99999;
  background: url(https://bathbee.pl/public/assets/components/ramka-plaster-miodu.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (min-width: 1000px) {
    & {
      max-width: 600px;
      max-height: 600px;
      top: -5%;
    }
  }
}
@media only screen and (max-width: 767px) {
  .home-components__box {
    width: auto !important;
    left: 0 !important;
    padding: 5px;
    height: 100vh !important;
    width: 100vw !important;
    position: fixed;
    background: #fff;
    overflow: scroll;
  }
}
@media only screen and (max-width: 767px) {
  .home-components__box:nth-child(1) {
    display: none;
  }
}
.home-components__box__close {
  display: none;
}
@media only screen and (max-width: 767px) {
  .home-components__box__close {
    display: block;
    position: absolute;
    top: 130px;
    right: 33px;
    width: 40px;
    height: 40px;
    background: var(--glowny);
    border-radius: 50px;
    cursor: pointer;
  }
  .home-components__box__close:before {
    content: "x";
    font-size: 22px;
    line-height: 40px;
    color: #fff;
    text-align: center;
    position: absolute;
    left: 13px;
    font-weight: 900;
    top: -2px;
  }
}
.home-components__box.active {
  opacity: 1;
  visibility: visible;
}
.home-components__box__wrapper {
  text-align: justify;
}
@media only screen and (max-width: 767px) {
  .home-components__box__wrapper {
    text-align: left;
    max-width: 85%;
    height: 100%;
    padding-top: 180px;
    padding-bottom: 100px;
  }
}
.home-components__box__wrapper--center {
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .home-components__box__wrapper ul {
    padding-left: 5px;
  }
}
.home-components__box:nth-child(1) {
  opacity: 1;
  visibility: visible;
}
@media only screen and (max-width: 767px) {
  .home-components__box {
    width: 250px;
    left: -34%;
  }
}
.home-components__image {
  width: 100%;
  height: auto;
}
.home-components__item {
  width: 16.5%;
  float: left;
  padding: 10px;
  cursor: pointer;
  position: absolute;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  transform-style: preserve-3d;
  @media (min-width: 1000px) {
    & {
      z-index: 99999;
    }
  }
}
.home-components__item:nth-child(2) {
  left: 41%;
  top: -2%;
}
@media only screen and (min-width: 767px) and (max-width: 1040px) {
  .home-components__item:nth-child(2) {
    left: 37%;
  }
}
@media only screen and (max-width: 767px) {
  .home-components__item:nth-child(2) {
    left: -11%;
    top: -2%;
  }
}
.home-components__item:nth-child(3) {
  left: 68%;
  top: 10%;
}
@media only screen and (min-width: 767px) and (max-width: 1040px) {
  .home-components__item:nth-child(3) {
    left: 63%;
    top: 3%;
  }
}
@media only screen and (max-width: 767px) {
  .home-components__item:nth-child(3) {
    left: 13%;
    top: 17%;
  }
}
.home-components__item:nth-child(4) {
  left: 14%;
  top: 10%;
}
@media only screen and (min-width: 767px) and (max-width: 1040px) {
  .home-components__item:nth-child(4) {
    left: 11%;
    top: 3%;
  }
}
@media only screen and (max-width: 767px) {
  .home-components__item:nth-child(4) {
    left: 40%;
    top: 36%;
  }
}
.home-components__item:nth-child(5) {
  left: 0%;
  top: 33%;
}
@media only screen and (min-width: 767px) and (max-width: 1040px) {
  .home-components__item:nth-child(5) {
    left: -9%;
    top: 16%;
  }
}
@media only screen and (max-width: 767px) {
  .home-components__item:nth-child(5) {
    left: 42%;
    top: -1%;
  }
}
.home-components__item:nth-child(6) {
  left: 79%;
  top: 33%;
}
@media only screen and (min-width: 767px) and (max-width: 1040px) {
  .home-components__item:nth-child(6) {
    left: 84%;
    top: 16%;
  }
}
@media only screen and (max-width: 767px) {
  .home-components__item:nth-child(6) {
    left: -14%;
    top: 36%;
  }
}
.home-components__item:nth-child(7) {
  left: 5%;
  top: 59%;
}
@media only screen and (min-width: 767px) and (max-width: 1040px) {
  .home-components__item:nth-child(7) {
    left: -9%;
    top: 65%;
  }
}
@media only screen and (max-width: 767px) {
  .home-components__item:nth-child(7) {
    left: 12%;
    top: 55%;
  }
}
.home-components__item:nth-child(8) {
  left: 78%;
  top: 59%;
}
@media only screen and (min-width: 767px) and (max-width: 1040px) {
  .home-components__item:nth-child(8) {
    left: 84%;
    top: 65%;
  }
}
@media only screen and (max-width: 767px) {
  .home-components__item:nth-child(8) {
    left: 65%;
    top: 56%;
  }
}
.home-components__item:nth-child(9) {
  left: 26%;
  top: 75%;
}
@media only screen and (min-width: 767px) and (max-width: 1040px) {
  .home-components__item:nth-child(9) {
    left: 20%;
    top: 78%;
  }
}
@media only screen and (max-width: 767px) {
  .home-components__item:nth-child(9) {
    left: -18%;
    top: 73%;
  }
}
.home-components__item:nth-child(10) {
  left: 56%;
  top: 75%;
}
@media only screen and (min-width: 767px) and (max-width: 1040px) {
  .home-components__item:nth-child(10) {
    left: 57%;
    top: 78%;
  }
}
@media only screen and (max-width: 767px) {
  .home-components__item:nth-child(10) {
    left: 36%;
    top: 75%;
  }
}
@media only screen and (max-width: 767px) {
  .home-components__item {
    padding: 20px;
    float: none;
    width: 50%;
    max-width: 200px;
    margin: auto;
  }
}
.home-components__item.is-flipped {
  transform: rotateY(180deg);
}
@media only screen and (max-width: 767px) {
  .home-components__item.is-flipped {
    transform: rotateY(0deg);
  }
}
@media only screen and (min-width: 767px) and (max-width: 1040px) {
  .home-components__item.is-flipped {
    transform: rotateY(0deg);
  }
  .home-components__item.is-flipped .home-components__item__face {
    backface-visibility: visible;
  }
}
@media only screen and (min-width: 767px) and (max-width: 1040px) {
  .home-components__item.is-flipped .home-components__item__front {
    display: none !important;
  }
}
.home-components__item.is-flipped .home-components__item__back {
  opacity: 1 !important;
}
.home-components__item__face {
  backface-visibility: hidden;
  position: absolute;
}
.home-components__item__front {
  width: 160px;
  height: 180px;
  top: 5px;
}
@media only screen and (max-width: 767px) {
  .home-components__item__front {
    width: 115px;
    height: 115px;
  }
}
.home-components__item__front .home-components__image {
  width: 155px !important;
  height: 160px;
  position: relative;
  left: 3px;
  top: 4px;
}
@media only screen and (max-width: 767px) {
  .home-components__item__front .home-components__image {
    width: 115px;
    height: 115px;
  }
}
.home-components__item__back {
  transform: rotateY(180deg);
  width: 164px;
  height: 180px;
  left: 15px;
  top: 5px;
  opacity: 0;
}
@media only screen and (min-width: 767px) and (max-width: 1040px) {
  .home-components__item__back {
    right: -34px;
    width: 150px;
  }
}
@media only screen and (max-width: 767px) {
  .home-components__item__back {
    width: 115px;
    height: 115px;
  }
}
.home-components__item__description {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  font-size: 17px;
  color: #585e61;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 60px;
}
@media only screen and (max-width: 767px) {
  .home-components__item__description {
    top: 36px;
  }
}
.home-components__item__description-lg {
  top: 53px;
}
@media only screen and (max-width: 767px) {
  .home-components__item__description-lg {
    top: 28px;
  }
}

.homeComponents-wrapper,
.jak-stosowac-produkty {
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.dla-kogo-przeznaczone {
  background: #f7f8f9;
}

.home-for__box {
  margin: 40px 0px 0px 0px;
  padding: 40px 40px 40px 40px;
  background-color: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
}

.home-for__box__item {
  margin: 0 30px 0 0.5em;
  line-height: 1.25em;
  padding: 10px 0 0;
  font-weight: bold;
  color: #585e61;
  font-family: "Roboto";
  font-size: 16px;
  position: relative;
  padding-left: 30px;
  text-align: left;
}

.home-for__box__item:before {
  content: "";
  position: absolute;
  left: 0;
  top: 12px;
  width: 14px;
  height: 14px;
  background: var(--glowny);
  border-radius: 50%;
}

.responsive-img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.relaks-dla-twojego-ciala {
  background-color: #f7f8fa;
  margin: 50px 0;
}

.minimalHeading {
  margin-top: 17px;
  padding-bottom: 10px;
  font-size: 25px;
  @media (max-width: 1000px) {
    & {
      text-align: center !important;
    }
  }
}

.minimalHeading::after {
  width: 100%;
  display: block;
  height: 1px;
  background: rgba(0, 0, 0, 0.397);
  margin: 10px 0;
  content: "";
}

.recommendedProducts .wrap-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 50px 0;
}

@media (min-width: 1000px) {
  .productTwoPrices {
    width: 22%;
  }
}

.productTwoPrices {
  position: relative;
  & {
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    transition: 0.5s;
  }
  &:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
  }
  &:hover a {
    text-decoration: none;
  }
  .woocommerce-loop-product__title {
    font-weight: normal;
    font-size: 18px;
    padding: 15px 0;
  }
  .price {
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    span {
      order: 1;
    }
    .preferencyjna {
      order: 2;
      color: green;
      font-weight: bold;
    }
  }
  .button {
    color: white;
    font-weight: normal;
    margin: 20px 0;
    &:hover {
      background: black;
      color: white;
      border: 0;
    }
  }
  img {
    object-fit: contain;
  }
  .info-pref-price {
    color: green;
    font-size: 12px;
    margin: 10px 0;
  }
  & a {
    margin: 0 auto;
  }

  @media (max-width: 1000px) {
    & {
      width: 100%;
      margin: 10px 0;
    }
    & img {
      text-align: center;
      margin: 5px auto;
    }
    .button {
      font-size: 16px;
      padding: 10px 0;
    }
  }
}

.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
  float: none;
  margin: 15px 3px;
  padding: 0;
  position: relative;
  margin-left: 0;
}

@media (min-width: 1000px) {
  .woocommerce ul.products li.product.productTwoPrices {
    width: 29%;
  }
  .woocommerce .products ul::after,
  .woocommerce ul.products::after {
    display: none;
  }
}

.woocommerce ul.products li.product.productTwoPrices {
  & {
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    transition: 0.5s;
    margin: 15px;
  }
  &:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
  }
  &:hover a {
    text-decoration: none;
  }
  .woocommerce-loop-product__title {
    font-weight: normal;
    font-size: 18px;
    padding: 15px 0;
  }
  .price {
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    span {
      order: 1;
    }
    .preferencyjna {
      order: 2;
      color: green;
      font-weight: bold;
    }
  }
  .button {
    color: white;
    font-weight: normal;
    margin: 20px 0;
    &:hover {
      background: black;
      color: white;
      border: 0;
    }
  }
  img {
    object-fit: contain;
  }
  .info-pref-price {
    color: green;
    font-size: 10px;
    margin: 10px 0;
  }
  & a {
    margin: 0 auto;
  }

  @media (max-width: 1000px) {
    & {
      width: 100%;
      margin: 10px 0;
    }
    & img {
      text-align: center;
      margin: 5px auto;
    }
    .button {
      font-size: 16px;
      padding: 10px 0;
    }
  }
}

.minimal-heading-bold {
  font-weight: bold;
  margin-bottom: 15px;
}

@media (min-width: 1000px) {
  .woocommerce ul.products {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.wrapp-menus-footer {
  ul {
    list-style: none;
    padding: 0;
  }
  @media (max-width: 1000px) {
    & div {
      text-align: center;
      margin: 15px 0;
    }
  }
}

.footer__wrapper .cashbackword-img-footer {
  margin: 0 auto;
  max-width: 80px;
  display: block;
}

.woocommerce ul.products li.product .price {
  color: black;
}

.bread-header-archive {
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 110px;
  color: white;
  display: flex;
  align-items: center;
}
.woocommerce .woocommerce-breadcrumb a,
.woocommerce .woocommerce-breadcrumb {
  color: white;
}

.archive-products-sidebar div .woocommerce-product-search {
  display: flex;
  justify-content: space-between;
  input {
    min-height: 25px;
    width: 70%;
  }
  button {
    padding: 10px 5px;
  }
}
.archive-products-sidebar {
  .product-categories {
    text-align: left;
    list-style: none;
    padding-left: 15px;
  }
  .product_list_widget {
    img {
      display: block;
      float: none;
    }
    .product-title {
      display: block;
      float: none;
    }
    li a {
      display: flex;
      flex-wrap: wrap;
      img {
        width: 100%;
        max-width: 120px;
        margin: 0 auto;
        object-fit: contain;
      }
      span {
        width: 100%;
      }
    }
  }
}

.price_slider {
  margin-bottom: 1em;
}
.price_slider_amount {
  text-align: right;
  line-height: 2.4em;
  font-size: 0.8751em;
}
.price_slider_amount .button {
  font-size: 13px;
  line-height: 1rem;
  padding: 10px 25px;
}
.price_slider_amount .button {
  float: left;
}
.ui-slider {
  position: relative;
  text-align: left;
}
.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 0.9em;
  height: 0.9em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  cursor: pointer;
  background: #e7e7e7;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#fefefe),
    to(#e7e7e7)
  );
  background: -webkit-linear-gradient(#fefefe, #e7e7e7);
  background: -moz-linear-gradient(center top, #fefefe 0%, #e7e7e7 100%);
  background: -moz-gradient(center top, #fefefe 0%, #e7e7e7 100%);
  outline: none;
  top: -0.3em;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3),
    0 0 0 1px rgba(255, 255, 255, 0.65) inset;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3),
    0 0 0 1px rgba(255, 255, 255, 0.65) inset;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3),
    0 0 0 1px rgba(255, 255, 255, 0.65) inset;
}
.ui-slider .ui-slider-handle:last-child {
  margin-left: -1em;
}
.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: 0.7em;
  display: block;
  border: 0;
  background: none repeat scroll 0 0 var(--glowny);
  box-shadow: 1px 1px 1px 0.5px rgba(0, 0, 0, 0.25) inset;
  -webkit-box-shadow: 1px 1px 1px 0.5px rgba(0, 0, 0, 0.25) inset;
  -moz-box-shadow: 1px 1px 1px 0.5px rgba(0, 0, 0, 0.25) inset;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
}
.price_slider_wrapper .ui-widget-content {
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
  background: #1e1e1e;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#1e1e1e),
    to(#6a6a6a)
  );
  background: -webkit-linear-gradient(#1e1e1e, #6a6a6a);
  background: -moz-linear-gradient(center top, #1e1e1e 0%, #6a6a6a 100%);
  background: -moz-gradient(center top, #1e1e1e 0%, #6a6a6a 100%);
}
.ui-slider-horizontal {
  height: 0.5em;
}
.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
  left: -1px;
}
.ui-slider-horizontal .ui-slider-range-max {
  right: -1px;
}

.widgettitle {
  font-size: 16px;
  padding: 10px;
  margin-top: 15px;
  &::after {
    display: block;
    width: 100%;
    height: 1px;
    background-color: rgba(58, 57, 57, 0.3);
    content: "";
    margin: 5px 0;
  }
}

@media (min-width: 1000px) {
  .widgettitle {
    text-align: left;
  }
}

.price_slider_wrapper {
  .button {
    width: 100%;
    display: block;
    margin: 0 auto !important;
    text-align: center;
    max-width: 100% !important;
  }
  .price_label {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.woocommerce form .form-row input.input-text,
.woocommerce form .form-row textarea,
input,
select {
  border-radius: 0;
}

.dropdown-menu.dropdown-menu-mini-cart a {
  // width: 60%;
  margin: 10px auto;
}

.single-product-view {
  .woocommerce-Tabs-panel--description {
    p {
      text-align: left;
    }
    h2 {
      margin: 10px auto;
    }
    ul {
      text-align: left;
    }
    .cashback,
    .sp {
      margin: 20px auto;
      h3 {
        font-weight: bold;
      }

      // &::before {
      //   height: 1px;
      //   width: 100%;
      //   background-color: rgba(128, 128, 128, 0.5);
      //   display: block;
      //   margin: 5px 0;
      //   content: "";
      // }
    }
  }
  .tabs.wc-tabs {
    width: 100%;
  }
  .tabs.wc-tabs li {
    border: none !important;
    padding: 6px 20px !important;
    margin-right: 15px !important;
    border-style: dashed !important;
    border-width: 0 0 1px !important;
    border-color: #84be38 !important;
    min-width: 90px !important;
    text-align: center !important;
    background-color: #fff !important;
    &::after,
    &::before {
      display: none;
    }
    a {
      display: block;
    }
  }
  .woocommerce-Tabs-panel {
    width: 100%;
  }
  .woocommerce-tabs.wc-tabs-wrapper {
    width: 100%;
  }
  .woocommerce-product-gallery {
    padding: 20px 20px 20px 20px;
    border: 1px solid rgba(128, 128, 128, 0.5);
  }
  .summary.entry-summary {
    padding: 0px 0 0px 20px;
    @media (max-width: 1000px) {
      padding: 20px 0;
    }
    background-color: #fff;
  }
  .product_title.entry-title {
    width: 100%;
    font-size: 20px;
    margin-top: 20px !important;
    &::after {
      content: "";
      height: 1px;
      width: 100%;
      background-color: rgba(128, 128, 128, 0.5);
      display: block;
      margin: 5px 0;
    }
  }

  .woocommerce-tabs ul.tabs li.active {
    border-radius: 80px !important;
    -webkit-box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.15);
    padding: 6px 20px !important;
    margin-right: 15px !important;
    border-width: 0 0 1px !important;
    border-color: var(--glowny) !important;
    min-width: 90px;
    text-align: center;
  }
  .related.products {
    width: 100%;
    ul {
      justify-content: center;
      @media (min-width: 1000px) {
        li.product.productTwoPrices {
          width: 22%;
          margin: 15px;
        }
      }
    }
    .price {
      text-align: center;
    }
  }
}
.woocommerce div.product .woocommerce-tabs ul.tabs {
  padding: 20px;
}
.woocommerce div.product .woocommerce-tabs ul.tabs::before {
  display: none;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text {
  margin: 20px auto;
}

.woocommerce #reviews #comments ol.commentlist {
  padding: 10px 0;
}
.woocommerce #reviews #comments .meta {
  display: flex;
  justify-content: center;
}

.woocommerce .star-rating {
  margin: 5px auto;
  float: none;
}

#review_form_wrapper .form-submit input {
  width: 100%;
  max-width: 100% !important;
  margin: 0 auto !important;
}

.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
  background-color: var(--glowny);
  border-radius: 5px;
}
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover {
  border: 1px solid var(--glowny);
  color: var(--glowny);
  background: white;
}

.starwrapper {
  width: 100%;
  &::before {
    content: "";
    height: 1px;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.5);
    display: block;
    margin: 5px 0;
  }
}

.starwrapper {
  text-align: left;
  .ocena {
    padding-right: 10px;
  }
}

.wrapp-fb-likes {
  display: block;
  position: relative;
  text-align: left;
}

.product_meta {
  span {
    display: block;
    margin: 5px 0;
    &::after {
      content: "";
      height: 1px;
      width: 100%;
      background-color: rgba(128, 128, 128, 0.5);
      display: block;
      margin: 5px 0;
    }
  }
  .sku_wrapper {
    display: none;
  }
}

.summary.entry-summary {
  .price {
    display: flex;
    flex-wrap: wrap;
    .preferencyjna {
      order: 2;
      color: green;
      font-weight: bold;
      &:before {
        content: "Cena preferencyjna: ";
        padding-right: 10px;
        font-size: 14px;
        display: inline-block;
        width: 200px;
      }
    }
    .woocommerce-Price-amount.amount {
      order: 1;
      display: flex;
      align-items: center;
      &::before {
        content: "Cena: ";
        padding-right: 10px;
        font-size: 14px;
        display: inline-block;
        width: 150px;
      }
    }
    span {
      padding-right: 10px;
      display: block;
    }
  }
  form.cart {
    margin: 20px 0;
  }
}

.info-pref-price-single-product {
  color: green;
  font-size: 10px;
  margin: 10px 0;
  text-align: left;
}

.product_list_widget a + * {
  display: none;
}

.woocommerce-breadcrumb {
  width: 100%;
}
.woocommerce-notices-wrapper {
  width: 100%;
  .woocommerce-message {
    margin: 10px 0 0;
    @media (max-width: 1000px) {
      display: flex;
      flex-wrap: wrap;
      a {
        float: none !important;
        order: 2;
      }
    }
  }
}

.woocommerce-breadcrumb {
  text-align: left;
}

.woocommerce-MyAccount-navigation {
  ul {
    list-style: none;
    padding: 0;

    li {
      padding: 5px 0;
    }
  }
  @media (min-width: 1000px) {
    & {
      border-right: 1px solid rgba(128, 128, 128, 0.37);
      text-align: left;
    }
    @media (max-width: 1000px) {
      & {
        border-bottom: 1px solid rgba(128, 128, 128, 0.37);
      }
    }
  }
}

.woocommerce table.shop_table {
  border-radius: 0;
  .button {
    margin: 5px 0;
  }
}

.u-columns.woocommerce-Addresses.col2-set.addresses {
  div {
    width: 100%;
    max-width: 100%;
    text-align: left;
  }
  h3 {
    &::after {
      width: 100%;
      display: block;
      height: 1px;
      background: rgba(0, 0, 0, 0.397);
      margin: 10px 0;
      content: "";
    }
  }
}

fieldset {
  margin: 0;
  width: 100%;
  border: 0;
  padding: 0;
  legend {
    font-weight: bold;
    padding: 10px;
  }
}

.woocommerce-MyAccount-content {
  button.button {
    max-width: 100%;
    width: 100%;
  }
  p {
    padding: 3px 0;
  }
  form .form-row {
    padding: 3px 0;
  }
}

article {
  ul {
    list-style: none;
  }
  h2,
  h1,
  h3 {
    padding: 10px 0;
  }
}

.formularz {
  max-width: 500px;
  margin: 0 auto;
  textarea,
  input {
    width: 100%;
  }
  label {
    width: 100%;
  }
  input[type="submit"] {
    background: var(--glowny);
    color: white;
  }
}

.naglowekstrona {
  font-weight: bold;
  font-size: 18px;
  padding: 10px 0;
}

.productTwoPrices {
  margin-top: 10px;
  margin-bottom: 10px;
  margin: 15px;
}

.woocommerce .col2-set .col-1,
.woocommerce-page .col2-set .col-1,
.woocommerce .col2-set .col-2,
.woocommerce-page .col2-set .col-2 {
  max-width: 50%;
}

.tab_headers {
  display: flex;
  padding: 0;
  margin: 3px;

  li {
    width: 50%;

    background-color: rgba(128, 128, 128, 0.3);

    margin: 2px;
    transition: 0.5s;
    border-radius: 5px;
    a {
      display: block;
      padding: 20px;
      border: 2px solid transparent;
      border-radius: 5px;
      &.active {
        background: white;
        border: 2px solid var(--glowny);
        box-shadow: 2px 2px 20px rgba(128, 128, 128, 0.2);
        border-radius: 5px;
      }
      &:hover {
        background: white;
        border: 2px solid var(--glowny);
        border-radius: 5px;
      }
    }
  }
}

.moje-konto .u-column1.col-1.tab,
.moje-konto .u-column2.col-2.tab {
  display: none;
  &.tab-active {
    display: block;
  }
  &#tab_login,
  &#tab_register {
    width: 100%;
    max-width: 100%;
    form {
      max-width: 550px;
      margin: 15px auto;
      p {
        text-align: center;
      }
      select {
        max-width: 270px;
      }
      img {
        margin: 20px auto 5px;
        max-width: 85px;
      }
      label {
        display: flex;
        align-content: center;
        align-items: center;
        input {
          margin: 0 5px;
        }
      }
    }
  }
}

.woocommerce-ResetPassword.lost_reset_password {
  max-width: 550px;
  margin: 15px auto;
  p {
    text-align: center;
    display: flex;
    justify-content: center;
  }
}

.woocommerce .woocommerce-form-login .woocommerce-form-login__rememberme {
  display: flex;
  align-items: center;
  input {
    margin: 0 5px 0 0;
  }
}
.woocommerce .woocommerce-form-login .woocommerce-form-login__submit {
  margin: 0;
}

.woocommerce-LostPassword.lost_password {
  text-align: center;
}

.woocommerce-form-row.woocommerce-form-row--wide.form-row.form-row-wide {
  label {
    display: block;
    text-align: right;
  }
}

#tab_nowe_konto {
  display: block;
}

@media (max-width: 1000px) {
  .woocommerce-form__label.woocommerce-form__label-for-checkbox.woocommerce-form-login__rememberme {
    text-align: center;
    justify-content: center;
  }
  .moje-konto .u-column1.col-1.tab#tab_login form label,
  .moje-konto .u-column1.col-1.tab#tab_register form label,
  .moje-konto .u-column2.col-2.tab#tab_login form label,
  .moje-konto .u-column2.col-2.tab#tab_register form label {
    justify-content: center;
  }
}

.moje-konto .u-column2.col-2.tab#tab_register form label {
  display: block;
  font-weight: normal;
  input {
    min-height: auto;
  }
}

.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
  width: 100%;
  max-width: 100%;
}

.moje-konto .u-column2.col-2.tab#tab_register form p label {
  font-weight: bold;
}

.moje-konto .u-column2.col-2.tab#tab_register form #tab_nowe_konto {
  label {
    font-weight: normal;
  }
}

@media (max-width: 1000px) {
  .moje-konto .u-column2.col-2.tab#tab_register form p label {
    text-align: center;
  }
}

.woocommerce-cart-form__cart-item.cart_item .product-thumbnail img {
  max-width: 100px;
}

.prefer-price {
  color: green;
}

input {
  border: 1px solid rgba(128, 128, 128, 0.555);
}

.woocommerce table.cart td.actions {
  width: 100%;
  button {
    width: 45%;
  }
}

.woocommerce table.cart td.actions button {
  width: 100%;
}

.woocommerce a.button-prefer {
  background: green;
  border-color: green;
}

.woocommerce form .form-row input.input-text,
.woocommerce form .form-row textarea,
input {
  border-color: rgba(128, 128, 128, 0.301);
}

.woocommerce form .form-row select,
.select2-container--default .select2-selection--single {
  max-width: 270px;
  border-radius: 0;
}

#ship-to-different-address,
#invoice_heading {
  width: 100%;
  &::before {
    display: none;
  }
  label {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
  }
  input {
    margin-right: 5px;
  }
  @media (max-width: 1000px) {
    & label {
      justify-content: center;
    }
  }
}

#invoice_fields {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  font-weight: bold;

  input {
    width: 270px;
    @media (max-width: 1000px) {
      margin: 0 auto;
    }
  }
  label {
    display: flex;
    align-content: center;
    align-items: center;
    padding-right: 10px;
    @media (max-width: 1000px) {
      justify-content: center;
      & {
        display: block;
        text-align: center;
        width: 100%;
      }
    }
  }
}
.woocommerce ul#shipping_method li label {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 0;
}

#local_pickup {
  select {
    width: 270px;
  }
}

.list-localizations {
  margin-bottom: 50px;
  .heading {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  p.title {
    text-align: center;
    font-weight: bold;
    margin-top: 15px;
  }
  ul {
    padding: 0;
    margin-bottom: 15px;
    li {
      padding: 10px 0 10px 35px;
      border-bottom: 1px solid rgba(128, 128, 128, 0.2);
      font-weight: bold;
      text-align: left;
      transform: 0.5s;
      text-transform: capitalize;
      font-size: 12px;
      position: relative;
      &:hover {
        background: var(--glowny);
        color: white;
      }
      &::before {
        content: "";
        background: url(../../uploads/2019/07/Wydawanie-Green.png);
        width: 30px;
        height: 30px;
        display: block;
        position: absolute;
        background-position: center;
        background-size: contain;
        left: 0;
        background-repeat: no-repeat;
      }
      span {
        font-weight: normal;
        display: block;
      }
    }
  }
}

.newHomeComponents button {
  font-size: 22px;
  padding: 14px 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #666;
  font-family: "Roboto";
  font-weight: 100;
  width: 100%;
  max-width: 100%;
  text-decoration: none;
  &:hover {
    color: var(--glowny);
    text-decoration: none;
  }
  &[aria-expanded="true"] {
    color: var(--glowny);
    text-decoration: none;
  }
}
.card-header {
  padding: 0;
  border-color: #f0f0f0;
  background-color: #f8f8f8;
  margin-bottom: 10px;
  border-color: #f0f0f0;
  border: 1px solid #f0f0f0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card-header:first-child,
.accordion > .card:not(:first-of-type) .card-header:first-child {
  border-radius: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.home-accordion {
  max-width: 512px;
  margin: 0 auto;
}

.card-body p,
.card-body ul li {
  font-size: 14px;
}
.accordion .collapse {
  background-color: #f8f8f8;
  border-radius: 5px;
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border: 1px solid #f0f0f0;
}

.card {
  border: 0;
}

.accordion > .card .card-header {
  margin-bottom: 10px;
}

body {
  font-family: "Roboto";
}

.productTwoPrices {
  .woocommerce-LoopProduct-link.woocommerce-loop-product__link {
    align-self: flex-start;
  }
  .add_to_cart_button {
    align-self: flex-end;
  }
}

.formularz {
  select {
    width: 100%;
  }
}

label a {
  color: var(--glowny);
}

.moje-konto .u-column2.col-2.tab#tab_register form label.zaznacz-wszystko {
  display: flex;
  cursor: pointer;
  justify-content: center;
  width: 100%;
  padding: 10px;
  color: white;
  background: var(--glowny);
  text-align: center;
  border-radius: 5px;
  &:hover {
    box-shadow: 2px 2px 20px rgba(128, 128, 128, 0.185);
  }
  input {
    display: none;
  }
}

.wrapp-rodo {
  max-height: 130px;
  overflow-y: scroll;
  background: white;
  margin: 15px 0 30px;
}

.wrapp-justify label {
  text-align: left !important;
  width: 100%;
}

.info-check {
  text-align: left;
  font-size: 14px;
}

.heading-roboto-small.smaller {
  font-size: 21px;
  line-height: 1.1em;
}

ins {
  font-weight: bold;
}

.wrapper-promotion {
  ins,
  del {
    display: block;
    width: 100%;
  }
  del {
    font-size: 15px;
  }
}
.productTwoPrices .price {
  align-items: center;
  align-content: center;
}

.productTwoPrices .price {
  ins,
  del {
    display: block;
    width: 100%;
    text-align: center;
  }
  del {
    font-size: 15px;
  }
  ins {
    text-decoration: none;
  }
  flex-wrap: wrap;
}

.containerTitleFacebookshare + span.onsale {
  width: 100%;
  text-align: center;
  border: 2px solid green;
  padding: 5px;
  position: absolute;
  max-width: 100px;
  top: 90px;
  background: white;
  border-radius: 0;
  color: black;
  min-height: auto;
  min-width: auto;
  left: 14px;
  line-height: 1em;
  @media (max-width: 1000px) {
    position: static;
    margin-bottom: -30px;
  }
}

.productTwoPrices .onsale,
.woocommerce .productTwoPrices .onsale {
  width: 100% !important;
  text-align: center !important;
  border: 2px solid green !important;
  padding: 5px !important;
  position: absolute !important;
  right: -1px !important;
  max-width: 100px !important;
  top: -1px !important;
  background: white !important;
  min-height: auto !important;
  min-width: auto !important;
  border-radius: 0 !important;
  margin: 0 !important;
  left: unset !important;
  line-height: 1em;
  font-size: 14px;
  color: black;
  font-weight: normal;
}

.pointscashback {
  @media (max-width: 1000px) {
    min-width: 230px;
  }

  display: flex;
  max-width: 100%;
  margin: 20px auto 20px;
  color: #085551;
  text-align: center;
  background-color: #fff;
  p {
    text-transform: uppercase;
    margin: 0;
    text-align: center !important;
    @media (max-width: 1000px) {
      font-size: 13px;
    }
  }
  span {
    font-weight: bold;
  }
  .sp-circle {
    background-color: #085551;
    color: white;
    border-radius: 50%;
    padding: 3px;
    position: absolute;
    top: 4px;
    right: 2px;
    width: 20px;
    height: 20px;
    font-size: 11px;
    @media (max-width: 450px) {
      right: unset;
      margin-left: 5px;
    }
  }
  .numbers {
    font-size: 15px;
    line-height: 15px;
    @media (max-width: 1000px) {
      font-size: 15px;
    }
  }
  .sp {
    &.relative {
      position: relative;
      .numbers {
        margin-left: -20px;
      }
    }
  }
  .cashback,
  .sp {
    border: 3px solid rgb(236, 236, 236);
    padding: 3px;
    margin: 0 !important;
    @media (max-width: 450px) {
      width: 50%;
    }
    p {
      font-size: 10px;
    }
  }
  .sp {
    border-left: 0 !important;
  }
  .sp.relative {
    p {
      font-size: 10px;
    }
  }
}

.newHomeComponents button[aria-expanded="true"]::after {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  content: "\f077";
  position: absolute;
  right: 10px;
  font-size: 15px;
}

.newHomeComponents button[aria-expanded="false"]::after {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  content: "\f078";
  position: absolute;
  right: 10px;
  font-size: 15px;
}

.wrapp-rodo p,
.moje-konto .u-column2.col-2.tab#tab_register form p {
  text-align: left;
  padding: 2px 10px;
  font-size: 13px;
}

.howbuycheap {
  p.heading-caveat {
    font-size: 40px;
    margin-bottom: 50px;
    line-height: 40px;
    @media (max-width: 400px) {
      font-size: 30px;
    }
  }
  .step-how {
    margin: 20px auto;
    display: flex;
    @media (max-width: 400px) {
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
    }
    max-width: 700px;
    color: #515151;
    justify-content: space-between;
    align-items: center;
    p {
      margin: 0;
    }
    a {
      color: var(--glowny);
      font-weight: bold;
    }
    .title-step {
      font-weight: bold;
      padding-bottom: 3px;
      margin-bottom: 5px;
      border-bottom: 1px solid rgba(128, 128, 128, 0.1);
    }
  }
  .stepnumber {
    text-align: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    color: #515151;
    line-height: 65px;
    text-align: center;
    border: 3px solid var(--glowny);
    font-weight: bold;
  }
  .wrapper-text-step {
    text-align: left;
    width: calc(100% - 80px);
    @media (max-width: 400px) {
      width: 100%;
      text-align: center;
      margin-top: 10px;
    }
  }
}

@media (max-width: 400px) {
  .woocommerce div.product .woocommerce-tabs ul.tabs {
    padding: 5px;
    font-size: 14px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .woocommerce .single-product-view .tabs.wc-tabs li,
  .single-product-view .woocommerce-tabs ul.tabs li {
    margin-right: 0 !important;
    margin: 5px !important;
  }
  .woocommerce .single-product-view .tabs.wc-tabs li,
  .single-product-view .woocommerce-tabs ul.tabs li.active {
    padding: 6px 5px !important;
    margin-right: 0 !important;
    margin: 5px !important;
  }
}

.ingredients {
  p.heading-caveat {
    font-size: 40px;
    margin-bottom: 50px;
    line-height: 40px;
    @media (max-width: 400px) {
      font-size: 30px;
    }
  }

  .tekst-skladniki {
    margin: 0px 0 20px;
  }
  .skladniki-list {
    list-style: none;
    max-width: 500px;
    margin: 0 auto;
    padding: 0;
    li {
      padding: 2px;
      border-bottom: 1px solid rgba(128, 128, 128, 0.1);
      margin-bottom: 4px;
      &:hover {
        background-color: rgba(128, 128, 128, 0.05);
      }
    }
  }
}

.imgsGramatura {
  margin: 20px 0 5px;
  text-align: left;
  @media (max-width: 400px) {
    text-align: center;
  }
  padding: 5px 5px 5px 0;
  width: 100%;
  background-color: #fff;
  img {
    max-height: 120px;
    @media (max-width: 400px) {
      max-height: 100px;
    }
    object-fit: contain;
    padding: 5px;
  }
}

.wrapper-single {
  background-color: #fff;
}

.woocommerce div.product div.images.woocommerce-product-gallery {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

//
.map-relative {
  position: relative;
}

//mapa
.map-canvas.map-relative {
  .si-content-wrapper {
    padding: 20px 20px 20px 15px;
    @media (max-width: 1000px) {
      padding: 10px;
    }
  }
  .si-close-button {
    padding: 10px;
  }
  .info-point {
    text-align: left;
    font-size: 12px;
    p:last-child {
      margin: 0;
    }
    .name,
    .adress,
    .type {
      span {
        font-weight: bold;
      }
      span.nazwapunktu {
        color: #8ac142;
      }
    }
    span {
      font-weight: bold;
    }
    .ikona-punkt {
      max-width: 25px !important;
      height: 25px;
      width: 25px;
      object-fit: contain;
      display: block;
      @media (max-width: 1000px) {
        max-width: 20px !important;
        height: 20px;
        width: 20px;
      }
    }
  }
  .si-wrapper-top.si-has-border {
    max-width: 270px;
  }
}

.si-wrapper-top {
  @media (max-width: 1000px) {
    margin-top: -22px !important;
  }
}

.results-wrapper {
  .wojewodztwo-nazwa {
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.233);
  }
  .punkt-lista {
    border-radius: 10px;
    transition: background-color 0.3s;
    &:hover {
      background-color: rgba(128, 128, 128, 0.05);
    }
    padding: 10px 5px;
    text-align: left;
    font-size: 13px;
    p {
      margin-bottom: 5px;
    }
    span {
      font-weight: bold;
    }
    img {
      max-width: 30px;
      height: 30px;
      width: 30px;
      display: block;
      object-fit: contain;
    }
    span.nazwapunktu {
      color: #8ac142;
      font-size: 15px;
    }
  }
}

.wrapp-div-on-map {
  position: absolute;
  background: white;
  padding: 10px;
  max-width: 350px;
  max-height: 550px;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 2px 2px 20px #808080a6;
  top: 100px;
  left: 65px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  border-radius: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: none;
  background-color: #e4a707;
}

.results-wrapper {
  overflow-y: scroll;
  max-height: 350px;
  max-width: 97%;
  margin: 0 auto;
  div {
    width: 100%;
    max-width: 100%;
  }
}

.wrapp-div-on-map {
  .filters {
    margin: 0px 0 15px;
    select {
      height: 27px;
      padding: 3px 10px;
      border-radius: 5px;
      @media (max-width: 1000px) {
        -webkit-appearance: none;
      }
    }
    p {
      margin: 0 0 2px 0;
      font-size: 14px;
    }
  }
  .zobacznamapie {
    padding: 5px 10px;
    background: #8ac142;
    display: block;
    width: 100%;
    max-width: 100%;
  }
}
.type,
.adress {
  text-transform: capitalize;
}
@media (max-width: 1000px) {
  .wrapp-div-on-map {
    position: static;
  }

  .map-canvas {
    height: 500px !important;
  }
}

.results-wrapper .punkt-lista {
  border-bottom: 1px solid rgba(128, 128, 128, 0.144);
}

.woocommerce-Tabs-panel h2:first-child {
  color: var(--glowny);
  line-height: 28px;
  text-align: center;
  font-family: "Caveat", cursive;
  font-weight: 400;
  font-weight: bold;
  margin-bottom: 0;
  font-size: 40px;
  margin-bottom: 50px;
  line-height: 40px;
}

.howuse,
.forwhom {
  h1,
  h2,
  h3,
  h1 strong,
  h2 strong,
  h3 strong {
    font-weight: bold;
    padding-bottom: 3px;
    margin-bottom: 5px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.1);
    font-size: 19px;
    &.heading-caveat {
      border: 0;
    }
  }
}

.woocommerce div.product p.price {
  font-size: 25px;
}
.summary.entry-summary .price .woocommerce-Price-amount.amount::before,
.summary.entry-summary .price .preferencyjna:before {
  font-size: 20px;
}

.sppoints-wrapper {
  display: flex;
  justify-content: flex-start;
  @media (max-width: 1000px) {
    flex-wrap: wrap;
    justify-content: center;
  }
  .pointscashback {
    margin-left: 0;
    margin-right: 0;
  }
  img {
    max-width: 60px;
    object-fit: contain;
    margin-left: 10px;
    @media (max-width: 1000px) {
      display: block;
    }
  }
}

.summary.entry-summary .price .woocommerce-Price-amount.amount {
  font-weight: bold;
  color: #313131;
  padding-top: 5px;
}

#map {
  min-height: 0 !important;
}
.wrapp-div-on-map {
  .noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .dropdown-container,
  .instructions {
    width: 100%;
    margin: 5px auto 0;
    font-size: 12px;
    overflow: unset;
    position: relative;
  }

  .instructions {
    width: 100%;
    text-align: center;
  }

  .dropdown-button {
    &.show {
      + .dropdown-list {
        box-shadow: rgba(128, 128, 128, 0.49) 0px 9px 20px;
      }
      .fa-chevron-down:before {
        content: "\f077" !important;
      }
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: rgba(245, 245, 245, 0.8);
    padding: 5px 7px;
    border-radius: 10px;
    &.show {
      border-radius: 10px 10px 0 0;
      box-shadow: rgba(128, 128, 128, 0.49) 0px 9px 20px;
    }
    i {
      color: #e4a707;
    }
    .quantity {
      font-size: 10px;
    }
    cursor: pointer;
    border: 1px solid lightgray;
    box-sizing: border-box;

    .dropdown-label,
    .dropdown-quantity {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .dropdown-quantity {
      margin-left: 4px;
    }

    .fa-filter {
      float: right;
    }
  }

  .dropdown-list {
    float: left;
    width: 100%;
    position: absolute;
    z-index: 999999;
    background: rgb(250, 250, 250);
    left: 0;
    border: 1px solid lightgray;
    border-top: none;
    box-sizing: border-box;
    padding: 10px 8px;
    border-radius: 0 0 10px 10px;

    input[type="search"] {
      padding: 5px 3px;
      width: 95%;
      height: auto;
      min-height: unset;
      border-radius: 5px;
      font-size: 12px;
      @media (max-width: 1000px) {
        font-size: 16px;
      }
    }

    ul {
      margin: 10px 0 0;
      max-height: 200px;
      overflow-y: auto;
      padding: 0;
      label {
        width: 100%;
        display: flex;
        align-items: center;
        height: 20px;
        text-align: left;
        text-transform: capitalize;
        input {
          margin-right: 5px;
        }
      }
    }
  }
}

.wrapp-div-on-map [data-filter="typ"],
.wrapp-div-on-map [data-filter="branza"] {
  .dropdown-list ul label {
    height: 28px;
  }
}

.wrapp-div-on-map {
  min-height: 500px;
}

.wrap-images-points {
  display: flex;
  margin: 3px 0 5px;
  img {
    margin-right: 2px;
  }
  @media (max-width: 1000px) {
    margin-bottom: 2px;
  }
}
span.typ,
span.branch {
  font-size: 10px;
  font-weight: 100 !important;
  background-color: #e4a707;
  color: white;
  padding: 2px 3px;
  display: inline-block;
  margin: 2px 2px 1px 0;
  @media (max-width: 1000px) {
    font-size: 8px;
  }
}

span.branch {
  background-color: #8ac142;
}

.si-has-border .si-content-wrapper,
.si-frame.si-shadow-frame {
  border: none;
  border-radius: 15px;
}

.product-info__box {
  color: #000;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0 none;
  width: 110px;
  height: 130px;
  background: url(/wp-content/uploads/2019/09/ramka-plaster-miodu.png);
  // background: url(https://beta.bathbee.pl/wp-content/uploads/2019/09/ramka-plaster-miodu.png);
  font-size: 21px;
  line-height: 112px;
  text-align: center;
  background-size: 100%;
  position: relative;
  font-family: "Roboto";
  font-weight: bold;
  background-repeat: no-repeat;
  display: inline-block;
  margin-right: 10px;

  .product-info__box__desc {
    position: absolute;
    top: -25px;
    font-size: 18px;
    color: #84be38;
    font-family: "Caveat";
    left: 0;
    right: 0;
  }

  .product-info__box__label {
    color: #000;
    line-height: 112px;
    text-align: center;
    font-family: "Roboto";
    font-weight: bold;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0 none;
    background: transparent;
    position: absolute;
    top: 20px;
    font-size: 12px;
    left: 0;
    right: 0;
  }
}

@media (max-width: 1000px) {
  .gmnoprint,
  .gm-control-active.gm-fullscreen-control {
    display: none;
  }
  .info-point p {
    margin-top: 0;
    margin-bottom: 2px;
  }
  .map-canvas.map-relative .info-point {
    text-align: left;
    font-size: 10px;
  }
  .results-wrapper .punkt-lista span.nazwapunktu {
    font-size: 12px;
  }
  .results-wrapper .punkt-lista {
    font-size: 11px;
  }
}

.woocommerce header ul.cart_list li img {
  margin-right: 5px;
}

label[for="data_urodzenia"] {
  justify-content: center;
  text-align: center !important;
}

#data_urodzenia,
#numer_karty_cashback {
  width: 100% !important;
}

//cena preferencyjka ukrycie

.preferencyjna,
.info-pref-price,
.info-pref-price-single-product,
.summary.entry-summary .price .preferencyjna,
.woocommerce-checkout table.cart th.prefer-price,
.woocommerce-checkout table.cart td.prefer-price,
a.button.button-prefer {
  display: none !important;
}
//cena preferencyjka ukrycie

.summary-product-wizard {
  .bold {
    font-weight: bold;
  }
  text-align: left;
  border: 1px solid;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
  padding: 20px 15px 0;
  .brutto {
    padding: 20px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
  align-self: flex-start;
  p {
    margin: 10px 0;
  }
  .vat {
    padding-bottom: 20px;
  }
  p {
    display: flex;
    justify-content: space-between;
  }
}

.wrapper-summary-wizard {
  padding: 15px;
}

.productTwoPrices .button {
  align-self: flex-end;
}
.productTwoPrices {
  justify-content: center;
}
.woocommerce div.product p.stock {
  text-align: left;
}
.up-sells.upsells.products {
  width: 100%;
  .products.columns-4 {
    justify-content: center;
  }
  li.product.productTwoPrices {
    @media (min-width: 1000px) {
      width: 22%;
    }
  }
}
.woocommerce ul.products li.product.productTwoPrices .button {
  align-self: flex-end;
}
.red_font,
.orange_font,
.yellow_font,
.green_font {
  text-align: left;
  font-weight: bold;
}

.red_font {
  color: red;
}
.orange_font {
  color: orange;
}
.yellow_font {
  color: #eaea16;
}
.green_font {
  color: green;
}

a.zobacz-zamowienie-button {
  display: inline-block;
  margin: 0;
  font-size: 13px;
  color: #fff !important;
  background-color: #efb34f;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 0;
  position: relative;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid #efb34f;
  &:hover {
    background-color: white;
    color: #efb34f !important;
  }
  line-height: 1rem;
  padding: 10px 25px;
}

.containerTitleFacebookshare {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 0 35px;
  @media (max-width: 1000px) {
    justify-content: center;
    .product_title.entry-title {
      padding: 10px 0 !important;
    }
  }
  .product_title.entry-title {
    display: inline-block;
    width: auto;
    margin: 0 !important;
    padding: 2px;
    &::after {
      display: none;
    }
  }
  &::after {
    content: "";
    height: 1px;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.5);
    display: block;
    margin: 5px 0;
  }
}

@media (min-width: 1000px) {
  .woocommerce div.product div.images,
  .woocommerce #content div.product div.images,
  .woocommerce-page div.product div.images,
  .woocommerce-page #content div.product div.images,
  .woocommerce div.product div.summary,
  .woocommerce #content div.product div.summary,
  .woocommerce-page div.product div.summary,
  .woocommerce-page #content div.product div.summary {
    width: 50%;
  }
}

.woocommerce-page table.cart td.actions {
  .button[name="update_cart"] {
    width: auto;
    float: right;
  }
  .coupon {
    display: flex;
    align-items: center;
    input {
      border-radius: 5px;
    }
    button {
      width: auto;
    }
  }
}

.select2-container--default .select2-selection--single {
  max-width: unset;
  margin: 0 0 10px;
}
.woocommerce p.woocommerce-shipping-contents {
  display: none;
}

.pickup-location-field .pickup-location-address {
  margin: 0;
  font-size: 16px;
}

.select2-dropdown.select2-dropdown--below {
  margin-top: -10px;
}

td[data-title="Wybierz miejsce"] {
  padding-top: 40px;
}

.toggle-default-handling {
  margin: 10px 0;
  display: inline-block;
  padding: 0.35em 0.85em;
  line-height: 1.35;
  color: #fff !important;
  background-color: #efb34f;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid #efb34f;
  font-weight: normal;
  font-size: 14px;
}

.woocommerce ul#shipping_method li {
  margin: 0;
}

.woocommerce ul#shipping_method li input {
  margin: 0 5px 0 0;
}

.woocommerce ul#shipping_method li label {
  display: flex;
  width: 90%;
  align-items: center;
  margin: 0;
}

.woocommerce ul#shipping_method li label {
  display: flex;
  width: 90%;
  align-items: center;
  margin: 0;
}

.woocommerce ul#shipping_method .amount {
  margin: 0 5px;
}

.woocommerce ul#shipping_method li {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.woocommerce table.shop_table tfoot td {
  max-width: 450px;
}

#wc-local-pickup-plus-toggle-default-handling {
  margin: 20px 0;
}

.woocommerce-checkout .row {
  margin: 0 auto;
  .col-md-12 {
    padding-left: 0;
    padding-right: 0;
  }
}

.pswp__caption {
  display: none;
}
.pswp--open {
  z-index: 99999;
}

.woocommerce div.product div.images .woocommerce-product-gallery__trigger {
  width: calc(100% - 40px);
  height: 75%;
  opacity: 0;
  border-radius: 0;
  left: 20px;
}

.woocommerce div.product div.images .flex-control-thumbs {
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.woocommerce div.product div.images .flex-control-thumbs li {
  width: unset;
  float: left;
  margin: 0;
  list-style: none;
  max-width: 75px;
  padding-right: 10px;
  &:nth-child(4n) {
    padding-right: 0;
  }
}

.btn-standard {
  display: inline-block;
  margin: 0;
  font-size: 13px;
  color: #fff !important;
  background-color: #efb34f;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 0;
  position: relative;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid #efb34f;
  line-height: 1rem;
  padding: 10px 25px;
}
.error-page-wrapper {
  .error-page {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 120px 0 50px;
    min-height: 65vh;
    text-align: center;
    img {
      max-height: 150px;
    }
    h1 {
      font-size: 20px;
      font-weight: bold;
      &::before {
        display: none;
      }
    }
  }
}

.slider {
  .slick-prev:before,
  .slick-next:before {
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    content: "\f054";
    right: 10px;
    font-size: 25px;
    background: white;
    border-radius: 50%;
    padding: 3px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 1000px) {
      width: 20px;
      height: 20px;
      font-size: 13px;
    }
  }
  .slick-prev:before {
    content: "\f053";
  }
  .slick-prev,
  .slick-next {
    height: 35px;
    width: 35px;
    @media (max-width: 1000px) {
      width: 20px;
      height: 20px;
      font-size: 13px;
    }
  }
  .slick-dots {
    position: absolute;
    bottom: 0px;
  }
  .slick-dots li button:before {
    font-size: 10px;
  }
  .slick-dots li {
    margin: 0;
  }
  .slick-dots li.slick-active button:before,
  .slick-dots li button:hover:before,
  .slick-dots li button:focus:before {
    color: var(--glowny);
  }
  @media (max-width: 1000px) {
    .slider .slick-prev:before,
    .slider .slick-next:before {
      font-size: 13px;
    }
  }
}

.woocommerce div.product span.price del,
.woocommerce div.product p.price del {
  width: 100%;
  font-size: 16px;
  span::before {
    font-size: 16px !important;
  }
}
@media (max-width: 1000px) {
  .woocommerce div.product .product_title {
    text-align: center;
  }
}

@media (min-width: 1000px) {
  .woocommerce-cart-form__cart-item.cart_item .product-thumbnail {
    max-width: 100px;
    width: unset;
    padding-left: 0;
  }

  .woocommerce-cart-form__cart-item.cart_item .product-name {
    max-width: 280px;
  }

  .woocommerce-cart-form__cart-item.cart_item .product-remove {
    text-align: center;
    padding: 5px;
  }

  .woocommerce a.remove,
  .remove_from_cart_button {
    display: inline-block;
  }
}

.wrapper-post {
  width: 100%;
  overflow: hidden;
}

.cancel-prefer-btn {
  max-width: 200px !important;
  background: var(--glowny) !important;
  &:hover {
    background: #f1ba2b !important;
    color: white !important;
  }
}

.button.green,
.button.green,
.woocommerce button.button[value="Zarejestruj się"],
.woocommerce button.button[value="Zaloguj się"] {
  background-color: #4caf50;
  &:hover {
    background-color: #5ecc61;
    color: white;
  }
}

.woocommerce-order-received {
  .cart-empty.woocommerce-info {
    display: none;
  }
  .woocommerce-notice.woocommerce-notice--success.woocommerce-thankyou-order-received {
    padding: 10px 10px 50px 10px;
  }
  .woocommerce ul.order_details {
    padding-left: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    @media (max-width: 1000px) {
      li {
        width: 100%;
        padding: 10px;
        text-align: center;
        border-right: 0;
        margin: 0;
      }
    }
  }
}

#billing_country_field {
  .woocommerce-input-wrapper {
    width: 270px;
  }
}

#invoice_fields {
  .required {
    color: red;
  }
}

@media (max-width: 1000px) {
  .woocommerce-form-row.woocommerce-form-row--wide.form-row.form-row-wide
    label {
    text-align: center;
  }
  form.woocommerce-ordering {
    margin: 0 auto;
    width: 100%;
  }

  .woocommerce-account {
    .woocommerce table.shop_table .button {
      margin-top: 35px;
    }
  }

  .woocommerce-page table.cart td.actions .coupon {
    flex-direction: column;
    input {
      width: 100% !important;
      max-width: 100% !important;
      margin: 0;
    }
    .button {
      width: 100% !important;
      margin: 10px auto;
    }
  }
  .shop_table {
    .button {
      width: 100% !important;
    }
  }

  .dropdown-menu.dropdown-menu-mini-cart {
    position: absolute;
    transform: none !important;
    top: 50px !important;

    left: -75vw !important;
    will-change: transform !important;
    max-width: 90vw !important;
  }

  .logo::after {
    display: none;
  }
  .koszyk {
    width: unset;
    .basket-item-count {
      padding: 0;
      width: 0;
      .dropdown-back {
        padding-right: 0;
      }
    }
  }
}

.continue-shopping {
  &::before {
    display: none;
  }
  padding: 1em 3em;
}

.woocommerce-password-strength {
  display: block;
  width: 100%;
  margin: 10px 0;
}

.woocommerce-checkout {
  .woocommerce-form.woocommerce-form-login.login {
    max-width: 600px;
    margin: 20px auto;
    .woocommerce-form__label.woocommerce-form__label-for-checkbox.inline {
      display: flex;
      justify-content: space-between;
      align-items: center;
      input {
        margin-right: 10px;
      }
    }
    .lost_password {
      text-align: center;
    }
  }
}

input.woocommerce-invalid{ border-color:#a00!important}
label.woocommerce-invalid{color: #a00!important;}
input.woocommerce-validated{border-color: #6dc22e!important;}
