.container {
  margin-top: 0 !important;
}

.wizard {
  max-width: 100%;
  margin: 0 auto;
}

.wizard__header {
  position: relative;
  color: #fff;
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  text-align: center;
  background-color: #4d637b;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.wizard__title {
  font-size: 40px;
  margin-bottom: 50px;
  line-height: 40px;
  color: var(--glowny);
  text-align: center;
  font-family: "Caveat", cursive;
  font-weight: 400;
  font-weight: bold;
}

.wizard__subheading {
  text-transform: uppercase;
  margin: 0;
  font-size: 0.8rem;
  font-weight: 100;
  letter-spacing: 2px;
  padding-top: 15px;
}

.wizard__subheading span {
  font-weight: 600;
}

.wizard__steps {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  z-index: 10;
}

.wizard__footer {
  padding: 0 50px 0 20px 50px 0 20px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1000px) {
  .wizard__footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .wizard__footer .button.previous,
  .wizard__footer .button.next {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .wizard__footer .button.green.register-button {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.wizard__content {
  background: #fff;
  border-radius: 5px;
}

.wizard__congrats-message {
  color: #676767;
  text-align: center;
  opacity: 0;
}

.wizard.completed .wizard__content {
  -webkit-animation: gettingOut 2s cubic-bezier(1, -0.71, 1, 1.16) forwards;
          animation: gettingOut 2s cubic-bezier(1, -0.71, 1, 1.16) forwards;
}

.wizard.completed .wizard__congrats-message {
  -webkit-animation: fadeIn 2s cubic-bezier(1, -0.71, 1, 1.16) forwards;
          animation: fadeIn 2s cubic-bezier(1, -0.71, 1, 1.16) forwards;
}

.line {
  position: absolute;
  top: 20px;
  left: 50%;
  z-index: -1;
  height: 6px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.line.-start {
  left: 0%;
  background: #4caf50;
  width: 50%;
  border-radius: 10px;
}

.line.-end {
  left: 50%;
  background: #4caf50;
  width: 50%;
}

.line.-background {
  background: #c3c3c3;
  width: 100%;
  border-radius: 10px;
}

.line.-progress {
  background: #4caf50;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left center;
          transform-origin: left center;
}

.line.-in-progress {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.panels {
  position: relative;
  overflow: hidden;
}

.panel {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  padding: 50px 0 20px;
}

.panel .heading-caveat {
  display: none;
}

.panel__header {
  margin-bottom: 30px;
}

.panel__title {
  font-size: 40px;
  margin-bottom: 50px;
  line-height: 40px;
  color: var(--glowny);
  text-align: center;
  font-family: "Caveat", cursive;
  font-weight: 400;
  font-weight: bold;
}

.panel__subheading {
  padding-top: 15px;
  font-size: 1.4rem;
  line-height: 1.8rem;
  margin: 0;
  max-width: 700px;
  margin: auto;
}

.panel.movingOutBackward {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.panel.movingOutFoward {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.panel.movingIn {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.steps {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  color: #fff;
}

.step {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  border-radius: 5px;
}

.step__content {
  width: 100%;
  position: relative;
  z-index: 2;
}

.step__number {
  font-size: 1.3rem;
  color: #676767;
  background: #fff;
  font-weight: 800;
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin: 0 auto;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  opacity: 1;
  z-index: 5;
}

.step.-completed .step__number {
  opacity: 0;
}

.step.-completed .checkmark {
  z-index: 0;
  -webkit-animation: fill 0.4s ease-in-out forwards, scale 0.3s ease-in-out 0.6s both;
          animation: fill 0.4s ease-in-out forwards, scale 0.3s ease-in-out 0.6s both;
}

.step.-completed .checkmark__check {
  -webkit-animation: stroke 0.5s linear 0.4s forwards;
          animation: stroke 0.5s linear 0.4s forwards;
}

.step.-completed .line {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.step:last-child .line {
  width: 50%;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -10%);
          transform: translate(-50%, -10%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  -webkit-box-shadow: inset 0px 0px 0px #4caf50;
          box-shadow: inset 0px 0px 0px #4caf50;
  z-index: -1;
}

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 8;
  stroke-miterlimit: 10;
  stroke: #4caf50;
  fill: none;
  -webkit-animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
          animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark__check {
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  stroke-dasharray: 40;
  stroke-dashoffset: 40;
  stroke: #fff;
  stroke-width: 5;
}

.button {
  font-size: 13px;
  cursor: pointer;
  line-height: 1rem;
  background: #e4a707;
  color: #fff;
  padding: 10px 25px;
  border: none;
  outline: none;
  display: inline-block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin: 10px;
}

.button.button-prefer {
  font-size: 1.5rem;
  padding: 13px 35px;
}

.button.button-prefer:hover {
  background: white;
  border: 1px solid green;
  color: green;
}

.button:hover {
  background: #f8be26;
}

.button.previous {
  margin-right: 5px;
}

.button.disabled {
  background: #c3c3c3;
  cursor: default;
}

@-webkit-keyframes stroke {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes stroke {
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes scale {
  50% {
    -webkit-transform: translateX(-50%) scale3d(1.5, 1.5, 1.5);
            transform: translateX(-50%) scale3d(1.5, 1.5, 1.5);
  }
  100% {
    -webkit-transform: scale3d(0);
            transform: scale3d(0);
  }
}

@keyframes scale {
  50% {
    -webkit-transform: translateX(-50%) scale3d(1.5, 1.5, 1.5);
            transform: translateX(-50%) scale3d(1.5, 1.5, 1.5);
  }
  100% {
    -webkit-transform: scale3d(0);
            transform: scale3d(0);
  }
}

@-webkit-keyframes fill {
  100% {
    -webkit-box-shadow: inset 0px 0px 0px 30px #4caf50;
            box-shadow: inset 0px 0px 0px 30px #4caf50;
  }
}

@keyframes fill {
  100% {
    -webkit-box-shadow: inset 0px 0px 0px 30px #4caf50;
            box-shadow: inset 0px 0px 0px 30px #4caf50;
  }
}

@-webkit-keyframes gettingOut {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  30% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
  }
}

@keyframes gettingOut {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  30% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
  }
}

@-webkit-keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

a.button-prefer {
  border: 1px solid green;
  background: green;
  border-color: green;
}

.normal-price {
  background: #f20606;
  border-radius: 3px;
  padding: 1px 5px;
  color: white;
}

span.prefer-price {
  background: #4caf50;
  border-radius: 3px;
  padding: 1px 5px;
  color: white;
  margin: 0 2px 0 0;
  font-weight: bold;
  font-size: 16px;
}

.wizard__congrats-message {
  width: 100%;
  position: static;
  display: block;
  height: 100%;
  display: none;
}

.wizard__congrats-message.completed-wizard {
  display: block;
  opacity: 1;
}

.button.green {
  cursor: pointer;
  line-height: 1rem;
  background: #4caf50;
  color: #fff;
  padding: 13px 35px;
  border: none;
  outline: none;
  display: inline-block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin: 10px;
}

.button.green:hover {
  text-decoration: none;
  background: #5ecc61;
}

.button.next,
.button.previous {
  font-weight: normal;
}

.wizard {
  font-size: 15px;
}

.article-page {
  word-break: break-word;
}
/*# sourceMappingURL=wizardCart.css.map */