$background-color: #f7f8fa;

$main-color: #4d637b;
$main-black: #676767;
$main-gray: #c3c3c3;

$secondary-color: #4caf50;
$secondary-color-variant: #4caf50;

$default-padding: 15px;
$big-padding: 30px;
$huge-padding: 50px 0 20px;

$wrapper-size: 1080px;
$wizard-size: 100%;

$circle-size: 40px;
$line-height: 6px;
$default-border-radius: 5px;

$animation-time: 0.5s;
$curve: cubic-bezier(0.65, 0, 0.45, 1);

.container {
  margin-top: 0 !important;
}

// Wizard
.wizard {
  max-width: $wizard-size;
  margin: 0 auto;

  &__header {
    position: relative;
    color: #fff;
    border-radius: $default-border-radius;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    text-align: center;

    background-color: $main-color;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__title {
    font-size: 40px;
    margin-bottom: 50px;
    line-height: 40px;
    color: var(--glowny);
    text-align: center;
    font-family: "Caveat", cursive;
    font-weight: 400;
    font-weight: bold;
  }

  &__subheading {
    text-transform: uppercase;
    margin: 0;
    font-size: 0.8rem;
    font-weight: 100;
    letter-spacing: 2px;
    padding-top: 15px;
    span {
      font-weight: 600;
    }
  }

  &__steps {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: translateY(50%);
    z-index: 10;
  }

  &__footer {
    padding: 0 $huge-padding $huge-padding;
    border-radius: $default-border-radius;
    display: flex;
    justify-content: center;
    @media (max-width: 1000px) {
      flex-wrap: wrap;
      .button.previous,
      .button.next {
        order: 0;
      }
      .button.green.register-button {
        order: 1;
      }
    }
  }

  &__content {
    background: #fff;
    // box-shadow: 0px 0px 10px #c5c5c5;
    border-radius: $default-border-radius;
  }

  &__congrats-message {
    color: $main-black;
    text-align: center;
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    opacity: 0;
  }

  &.completed {
    .wizard__content {
      animation: gettingOut 2s cubic-bezier(1, -0.71, 1, 1.16) forwards;
    }

    .wizard__congrats-message {
      animation: fadeIn 2s cubic-bezier(1, -0.71, 1, 1.16) forwards;
    }
  }
}

// Lines
.line {
  position: absolute;
  top: $circle-size / 2;
  left: 50%;
  z-index: -1;
  height: $line-height;
  transition: all $animation-time ease;

  &.-start {
    left: 0%;
    background: $secondary-color-variant;
    width: 50%;
    border-radius: 10px;
  }

  &.-end {
    left: 50%;
    background: $secondary-color-variant;
    width: 50%;
  }

  &.-background {
    background: $main-gray;
    width: 100%;
    border-radius: 10px;
  }

  &.-progress {
    background: $secondary-color-variant;
    width: 100%;
    transform: scaleX(0);
    transform-origin: left center;
  }

  &.-in-progress {
    transform: scaleX(1);
  }
}

// Panels
.panels {
  position: relative;
  overflow: hidden;
}

.panel {
  .heading-caveat {
    display: none;
  }
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s all;
  padding: $huge-padding;

  &__header {
    margin-bottom: $big-padding;
  }

  &__title {
    font-size: 40px;
    margin-bottom: 50px;
    line-height: 40px;
    color: var(--glowny);
    text-align: center;
    font-family: "Caveat", cursive;
    font-weight: 400;
    font-weight: bold;
  }

  &__subheading {
    padding-top: 15px;
    font-size: 1.4rem;
    line-height: 1.8rem;
    margin: 0;
    max-width: 700px;
    margin: auto;
  }

  &.movingOutBackward {
    transform: translateX($wizard-size * -1);
  }

  &.movingOutFoward {
    transform: translateX($wizard-size);
  }

  &.movingIn {
    transform: translateX(0);
  }
}

// Steps
.steps {
  position: relative;
  display: flex;
  flex: 0 1 auto;
  color: #fff;
}

.step {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  box-sizing: border-box;
  text-align: center;
  border-radius: 5px;

  &__content {
    width: 100%;
    position: relative;
    z-index: 2;
  }

  &__number {
    font-size: 1.3rem;
    color: $main-black;
    background: #fff;
    font-weight: 800;
    width: $circle-size;
    height: $circle-size;
    line-height: $circle-size;
    margin: 0 auto;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    transition: opacity 0.5s;
    opacity: 1;
    z-index: 5;
  }

  &.-completed {
    .step__number {
      opacity: 0;
    }

    .checkmark {
      z-index: 0;
      animation: fill 0.4s ease-in-out forwards,
        scale 0.3s ease-in-out 0.6s both;
    }

    .checkmark__check {
      animation: stroke 0.5s linear 0.4s forwards;
    }

    .line {
      transform: scaleX(1);
    }
  }

  &:last-child {
    .line {
      width: 50%;
    }
  }
}

// Checkmark
.checkmark {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -10%);
  width: $circle-size + 10px;
  height: $circle-size + 10px;
  border-radius: 50%;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  box-shadow: inset 0px 0px 0px $secondary-color;
  z-index: -1;

  &__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 8;
    stroke-miterlimit: 10;
    stroke: $secondary-color-variant;
    fill: none;
    animation: stroke 0.6s $curve forwards;
  }

  &__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 40;
    stroke-dashoffset: 40;
    stroke: #fff;
    stroke-width: 5;
  }
}

// Buttons
.button {
  font-size: 13px;
  cursor: pointer;
  line-height: 1rem;
  background: #e4a707;
  color: #fff;
  padding: 10px 25px;
  border: none;
  outline: none;
  display: inline-block;
  transition: all 0.3s;
  margin: 10px;
  &.button-prefer {
    font-size: 1.5rem;
    padding: 13px 35px;
    &:hover {
      background: white;
      border: 1px solid green;
      color: green;
    }
  }

  &:hover {
    background: lighten(#e4a707, 10%);
  }

  &.previous {
    margin-right: 5px;
  }

  &.disabled {
    background: $main-gray;
    cursor: default;
  }
}

// Animations
@keyframes stroke {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes scale {
  50% {
    transform: translateX(-50%) scale3d(1.5, 1.5, 1.5);
  }

  100% {
    transform: scale3d(0);
  }
}

@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px $secondary-color;
  }
}

@keyframes gettingOut {
  0% {
    transform: translateY(0%);
  }

  30% {
    transform: translateY(100px);
  }

  100% {
    transform: translateY(-200%);
  }
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}
a.button-prefer {
  border: 1px solid green;
  background: green;
  border-color: green;
}

.normal-price {
  background: #f20606;
  border-radius: 3px;
  padding: 1px 5px;
  color: white;
}

span.prefer-price {
  background: #4caf50;
  border-radius: 3px;
  padding: 1px 5px;
  color: white;
  margin: 0 2px 0 0;
  font-weight: bold;
  font-size: 16px;
}

.wizard__congrats-message {
  width: 100%;
  position: static;
  display: block;
  height: 100%;
  display: none;
}

.wizard__congrats-message {
  &.completed-wizard {
    display: block;
    opacity: 1;
  }
}

.button.green {
  cursor: pointer;
  line-height: 1rem;
  background: #4caf50;
  color: #fff;
  padding: 13px 35px;
  border: none;
  outline: none;
  display: inline-block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin: 10px;
  &:hover {
    text-decoration: none;
    background: #5ecc61;
  }
}

.button.next,
.button.previous {
  font-weight: normal;
}

.wizard {
  font-size: 15px;
}

.article-page {
  word-break: break-word;
}
